<ng-template #companyStatus let-row let-status="status">
  <span>{{ status }}</span>
  <span *ngIf="row.isExpired" class="suspended"> | Expired</span>
</ng-template>

<ng-template #packageName let-row let-packageName="packageName">
  <span
    >{{ packageName }}
    <span
      *ngIf="row?.packageId !== '0' && row?.isCustomPackage === 1"
    >
    &#123;Custom&#125;
    </span>
  </span>
</ng-template>

<app-section-title
  class="section-title"
  sectionTitle="Company Management"
></app-section-title>

<!-- <pre>{{ (customerService.getCustomersObservable() | async)?.items | json }}</pre> -->

<article class="components">
  <app-search
    (onSearch)="onSearchTerm($event)"
    (onEnter)="handleEnter($event)"
    (onEscape)="handleEsc($event)"
    placeHolder="Search with Company Name"
    class="search-component"
    [value]="customerService.getCustomerPayload().search"
    [class.disabled]="customerService.isCustomerListLoadingObservable() | async"
  ></app-search>
  <app-button
    class="button-component"
    icon="assets/svg/add-button-icon.svg"
    btnTitle="Add a New Company Profile"
    classes="button-primary button-pd"
    (clickHandler)="onAddNewCompany()"
    *appAccessControl="'create-company'"
  >
  </app-button>
</article>

<app-datatable
  class="table-component"
  [isLoading]="customerService.isCustomerListLoadingObservable() | async"
  [config]="customerDatatable"
>
  <app-datatable-headers
    [isLoading]="customerService.isCustomerListLoadingObservable() | async"
    [headers]="customerDatatable.headers"
    (onHeader)="handleHeaderClick($event)"
  >
  </app-datatable-headers>
  <app-datatable-rows
    [columnsTemplate]="customerDatatable.headers.columnsTemplate"
    [isLoading]="customerService.isCustomerListLoadingObservable() | async"
    [pageSize]="
      (customerService.getPaginationConfigObservable() | async)?.pageSize
    "
    [rows]="(customerService.getCustomersObservable() | async)?.items"
    (onRow)="handleRow($event)"
    [headers]="customerDatatable.headers.list"
  ></app-datatable-rows>
</app-datatable>
<app-pagination
  *ngIf="((customerService.getCustomersObservable() | async)?.items).length"
  [class.disabled]="customerService.isCustomerListLoadingObservable() | async"
  class="pagination-component"
  [$$paginationConfigObservable]="
    customerService.getPaginationConfigObservable()
  "
  [pagiantionConfig]="customerService.getPaginationConfigObservable() | async"
  (onRecordSelect)="onPageSizeSelect($event)"
  (onFirstPageSelect)="onFirst()"
  (onLastPageSelect)="onLast()"
  (onNextPageSelect)="onNext()"
  (onPrevPageSelect)="onPrev()"
  (onPageSelect)="onPage($event)"
>
</app-pagination>

<router-outlet></router-outlet>
