<app-section-title
  class="section-title"
  sectionTitle="Customer Management"
></app-section-title>
<article class="components">
  <app-button
    class="button-component"
    icon="assets/svg/add-button-icon.svg"
    btnTitle="Add New Company Profile"
    classes="button-primary button-pd"
    (clickHandler)="onAddNewCompany()"
  >
  </app-button>
</article>

<app-datatable class="table-component" [config]="customerDatatable">
  <app-datatable-headers
    [headers]="customerDatatable.headers"
    (onHeader)="handleHeaderClick($event)"
  >
  </app-datatable-headers>
  <app-datatable-rows
    [rows]="customers"
    (onRow)="handleRow($event)"
    [headers]="customerDatatable.headers.list"
  ></app-datatable-rows>
</app-datatable>
<app-pagination class="pagination-component">Pagination Table</app-pagination>
<router-outlet></router-outlet>
