<!-- <div class="transparent-white">
  <span class="dots-circle-spinner loading"></span>
</div> -->

<app-section-title
  class="section-title"
  sectionTitle="Customer Management"
></app-section-title>

<app-button
  class="button-component"
  icon="assets/svg/add-button-icon.svg"
  btnTitle="Add New Company Profile"
  classes="button-primary button-pd"
  (clickHandler)="isPanelOpen = true"
  appAccessControl="new-company"
>
</app-button>

<app-datatable class="table-component" [config]="customerDatatable">
  <app-datatable-headers
    [headers]="customerDatatable.headers"
    (onHeader)="handleHeaderClick($event)"
  >
  </app-datatable-headers>
  <app-datatable-rows
    [rows]="customers"
    (onRow)="handleRow($event)"
    [headers]="customerDatatable.headers.list"
  ></app-datatable-rows>
</app-datatable>

<app-pagination class="pagination-component">Pagination Table</app-pagination>

<app-panel [showPanel]="isPanelOpen">
  <app-panel-header
    headerTitle="Add a New Company Profile"
    clearIcon="assets/svg/panel-close-icon.svg"
    (onPanelClose)="isPanelOpen = false"
  >
  </app-panel-header>

  <app-panel-body class="panel__content">
    <app-wizard [steps]="steps" [currentStep]="activeStep"></app-wizard>

    <!-- Add new Company Profile -->
    <form
      class="form"
      [ngSwitch]="activeStep?.stepIndex"
      (ngSubmit)="onAddNewCompany()"
      [formGroup]="newCompanyForm"
    >
      <div app-wizard-template *ngSwitchCase="'1'" [step]="activeStep">
        <ng-container formGroupName="profile">
          <div class="form__input icon-container pos-rel error">
            <label>Company Name</label>
            <input
              type="text"
              formControlName="company_name"
              [class.error-field]="
                !newCompanyForm.get('profile.company_name')?.valid &&
                newCompanyForm.get('profile.company_name')?.touched"
            />
            <div
            class="pos-abs error-align-field error-msg"
            *ngIf="
              !newCompanyForm.get('profile.company_name')?.valid &&
              newCompanyForm.get('profile.company_name')?.touched
            "
          >
            <p>We couldn't find company name.</p>
          </div>
          </div>
          <div class="form__input pos-rel">
            <label>Customer Name</label>
            <input
              type="text"
              formControlName="customer_name"
              [class.error-field]="
                  !newCompanyForm.get('profile.customer_name')?.valid &&
                  newCompanyForm.get('profile.customer_name')?.touched"
            />
            <div
            class="pos-abs error-align-field error-msg"
            *ngIf="
              !newCompanyForm.get('profile.customer_name')?.valid &&
              newCompanyForm.get('profile.customer_name')?.touched
            "
          >
            <p>We couldn't find customer name.</p>
          </div>
          </div>
          <div class="form__input pos-rel">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              [class.error-field]="
                  !newCompanyForm.get('profile.email')?.valid &&
                  newCompanyForm.get('profile.email')?.touched"
            />
            <div
            class="pos-abs error-align-field error-msg"
            *ngIf="
              !newCompanyForm.get('profile.email')?.valid &&
              newCompanyForm.get('profile.email')?.touched
            "
          >
            <p>We couldn't find customer email address.</p>
          </div>
          </div>
          <div class="form__input">
            <label>Address (Optional)</label>
            <input type="text" formControlName="address" />
          </div>
          <div class="form__input">
            <label>Contact No. (Optional)</label>
            <input type="text" formControlName="contact_no" />
          </div>
          <div class="form__input">
            <label>Salesforce ID (Optional)</label>
            <input type="text" formControlName="salesforce_id" />
          </div>
          <!-- <button [disabled]="" (click)="test()">test</button> -->
        </ng-container>
      </div>
      <div app-wizard-template *ngSwitchCase="'2'" [step]="activeStep">
        <ng-container formGroupName="subscription">
          <div class="form__input">
            <label>Company ID</label>
            <input
              type="text"
              formControlName="company_id"
              [ngClass]="{
                input__error:
                  !newCompanyForm.get('subscription.company_id')?.valid &&
                  !newCompanyForm.get('subscription.company_id')?.touched
              }"
            />
          </div>
          <div class="form__input radio">
            <label>Subscription Type</label>
            <label
              *ngFor="let type of subscriptionTypes"
              class="form__input--radio-container"
            >
              <input
                type="radio"
                formControlName="type"
                [value]="type.key"
                [ngClass]="{
                  'error-msg':
                    !newCompanyForm.get('subscription.type')?.valid &&
                    newCompanyForm.get('subscription.type')?.touched
                }"
              />
              <span>{{ type.value }}</span>
            </label>
          </div>
          <div class="form__input custom__input icon-container pos-rel error">
            <label>Company Key</label>
            <input
              type="text"
              placeholder="123123123123123123132"
              formControlName="company_key"
              [class.error-field]="
                  !newCompanyForm.get('subscription.company_key')?.valid &&
                  newCompanyForm.get('subscription.company_key')?.touched"
            />
            <div
            class="pos-abs error-align-field error-msg"
            *ngIf="
              !newCompanyForm.get('subscription.company_key')?.valid &&
              newCompanyForm.get('subscription.company_key')?.touched
            "
          >
            <p>Unable to match key please regenerate Api Key.</p>
          </div>
            <a href="#"
              >| Regenerate Api Key
              <i
                [shouldRemoveParent]="false"
                appSvg
                src="assets/svg/regenerate-key-icon.svg"
              ></i
            ></a>
          </div>
          <div class="form__input radio">
            <label>Api Tier</label>
            <hr class="line" />
            <label
              *ngFor="let tier of tiers"
              class="form__input--radio-container"
            >
              <input
                type="radio"
                formControlName="tier"
                [value]="tier.key"
                [ngClass]="{
                  '':
                    !newCompanyForm.get('subscription.tier')?.valid &&
                    newCompanyForm.get('subscription.tier')?.touched
                }"
              />
              <span>{{ tier.value }}</span>
            </label>
          </div>
          <div class="form__input radio">
            <label>Expiration Date</label>
            <label
              *ngFor="let exp of expDates"
              class="form__input--radio-container"
            >
              <input
                type="radio"
                formControlName="exp_date"
                class="disabled"
                [value]="exp.key"
                [ngClass]="{
                  'error-msg':
                    !newCompanyForm.get('subscription.exp_date')?.valid &&
                    newCompanyForm.get('subscription.exp_date')?.touched
                }"
              />
              <span>{{ exp.value }}</span>
            </label>
          </div>
        </ng-container>
      </div>
      <div app-wizard-template *ngSwitchCase="'3'" [step]="activeStep">
        <ng-container formGroupName="exclude_classifier">
          <div class="form__input checkbox">
            <label class="m-b-10">Classifier List</label>
            <label
              *ngFor="let classifier of classifierList; let i = index"
              class="form__input--checkbox-container"
              formArrayName="classifier_list"
            >
              <input
                type="checkbox"
                [formControlName]="i"
                [ngClass]="{
                  'error-msg':
                    !newCompanyForm.get('exclude_classifier.classifier_list')
                      ?.valid &&
                    newCompanyForm.get('exclude_classifier.classifier_list')
                      ?.touched
                }"
              />
              <span>{{ classifier.value }}</span>
            </label>
          </div>
        </ng-container>
      </div>
    </form>
  </app-panel-body>

  <app-panel-footer>
    <ng-container [ngSwitch]="activeStep?.stepIndex">
      <ng-container *ngSwitchCase="'1'">
        <app-button
          btnTitle="Next"
          classes="button-primary button-lg"
          [isDisabled]="newCompanyForm.controls['profile'].invalid"
          (clickHandler)="onNextStep()"
        ></app-button>
      </ng-container>
      <ng-container *ngSwitchCase="'2'">
        <app-button
          btnTitle="Back"
          classes="button-default button-lg"
          (clickHandler)="onPreviousStep()"
        ></app-button>
        <app-button
          btnTitle="Next"
          classes="button-primary button-lg"
          [isDisabled]="newCompanyForm.controls['subscription'].invalid"
          (clickHandler)="onNextStep()"
        ></app-button>
      </ng-container>
      <ng-container *ngSwitchCase="'3'">
        <app-button
          btnTitle="Back"
          classes="button-default button-lg"
          (clickHandler)="onPreviousStep()"
        ></app-button>
        <app-button
          btnTitle="Save"
          [isDisabled]="
            newCompanyForm.controls['exclude_classifier'].invalid
          "
          classes="button-primary button-lg"
          (clickHandler)="onSave()"
        ></app-button>
      </ng-container>
    </ng-container>
  </app-panel-footer>
</app-panel>
