$form-width: 85%;

%customRadioCheckBoxContainer {
  display: flex;
  gap: 1.2rem;
  // margin-top: 0.1rem;
  align-items: center;
  margin-bottom: 2rem;
}

%customRadioCheckBoxSpan {
  font-size: font-size(small);
  color: var(--color-primary);
  font-weight: font-weight(regular);
}

.form {
  margin-top: 8rem;

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & > label {
      margin-bottom: 0.5rem;
      font-size: font-size(small);
      color: var(--color-primary);
      font-weight: font-weight(regular);
    }

    & input[type="text"],
    & [type="password"] {
      outline: none;
      width: $form-width;
      min-height: 4rem;
      height: 4rem;
      padding: 1rem 1.6rem;
      border: 1px solid var(--color-primary);
      border-radius: 4px;
      margin-bottom: 1.5rem;
      flex: 1;
      color: var(--color-quinary);
      font-size: font-size(smallFix);
    }
    & ::placeholder {
      font-size: font-size(smallFix);
    }

    & input[type="text"].fw,
    & input[type="password"].fw {
      width: 100%;
    }

    &--radio-container {
      @extend %customRadioCheckBoxContainer;
      & > input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;

        font: inherit;
        color: var(--color-primary);
        width: 1.4rem;
        height: 1.4rem;
        border: 2px solid var(--color-primary);
        border-radius: 50%;
        transform: translateY(-0.075rem);

        display: grid;
        place-content: center;
      }

      & > input[type="radio"]::before {
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        // box-shadow: inset 1em 1em var(--color-primary);
        background: var(--color-primary);
      }

      & > input[type="radio"]:checked::before {
        transform: scale(1);
      }

      & > span {
        @extend %customRadioCheckBoxSpan;
      }
    }

    &--checkbox-container {
      @extend %customRadioCheckBoxContainer;

      margin-bottom: 1rem !important;
      gap: 0.8rem !important;
      & > input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;

        font: inherit;
        width: 1.6rem;
        height: 1.6rem;
        border: 1px solid var(--color-primary);
        border-radius: 4px;

        display: grid;
        place-content: center;
      }

      & > input[type="checkbox"]:checked::before {
        content: "";
        width: 1.6rem;
        height: 1.6rem;
        border: 1px solid var(--color-primary);
        border-radius: 4px;
        transform: scale(0);
        background-color: var(--color-primary);
        background-image: url("/assets/svg/checkbox-icon.svg");
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        transition: 120ms transform ease-in-out;
      }

      & > input[type="checkbox"]:checked::before {
        transform: scale(1);
      }

      & > span {
        @extend %customRadioCheckBoxSpan;
      }
    }

    &.custom__input {
      display: flex;
      position: relative;
    }

    &.custom__input > input[type="text"] {
      padding-right: 4rem;
    }

    &.custom__input > a {
      position: absolute;
      color: var(--color-primary);
      font-size: font-size(regular);
      font-weight: font-weight(regular);
      display: flex;
      align-items: center;
      gap: 1rem;
      right: 10rem;
      top: 3.2rem;
    }

    &.inline {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      margin-left: 2px;
      width: $form-width;
      position: relative;

      & .checkbox {
        margin-bottom: 0.7rem;
      }

      & label.role-label {
        margin-top: -1rem;
        flex-basis: 14rem;
      }

      & input.select + .dropdown-trigger {
        position: absolute;
        // width: 11.7%;
        & > svg-icon {
          right: -2.5rem;
          top: -1.1rem;
        }
      }

      & .dropdown {
        right: -3.35rem!important;
        top: 1rem!important;
      }
    }
  }

  &__input input.select {
    caret-color: transparent;
    cursor: pointer;
  }

  &__select .dropdown-trigger {
    width: $form-width;
    & > svg-icon {
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
    }

    & .dropdown {
      right: 0.8rem;
    }
  }

  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 65%;

    & > label {
      color: var(--color-primary);
      font-size: font-size(smallFix);
      font-weight: font-weight(regular);
    }
  }
}

.form .error-msg:focus {
  border: 1px solid var(--form-error-message-focus);
}

.radio {
  margin-bottom: 1.5rem;
}

.line {
  background: var(--color-primary);
  border: none;
  width: $form-width;
  height: 0.1rem;
  margin-top: -0.2rem;
  margin-bottom: 1.3rem;
}

.error-field {
  border: 1px solid var(--danger) !important;
}

.error-align-field {
  top: 6.6rem;
  right: 8.8rem;
  width: auto;
}
.error-msg-date {
  right: 8.8rem;
  width: auto;
}

input.date-input {
  color: var(--color-tertiary);
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  height: 3rem;
  width: 20rem;
  text-align: center;

  &::placeholder {
    font-size: calc(1.3rem + 0.1389vw);
    color: var(--color-primary);
    font-weight: 400;
  }

  cursor: pointer;
}
app-wizard {
  position: fixed;
  background: var(--color-secondary);
  width: 100%!important;
  z-index: 1100;
  padding-bottom: 4rem;
}
.form__select {
  .error-align-field {
    top: 6.5rem;
  }
}
