//*-*-*-*-*-*-*-*-*-*-- Ui State *-*-*-*-*-*-*-*-*-*-*
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.error-msg {
  width: calc(29.7rem);
  height: calc(2rem);
  padding: 3px 9px 2px 11px;
  background-color: var(--danger);
  font-size: font-size(smallFix);
  color: var(--color-secondary);
  font-weight: font-weight(regular);

  z-index: 3;

  display: flex;
  align-items: center;

  top: 3.8rem;
  right: 5px;

  & > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

//*-*-*-*-*-*-*-*-*-*-- Ovverride Placeholder *-*-*-*-*-*-*-*-*-*-*
::placeholder {
  font-size: font-size(normal);
  color: var(--color-quinary);
  font-weight: font-weight(light);
  opacity: 0.5;
}

:-ms-input-placeholder {
  font-size: font-size(normal);
  color: var(--color-quinary);
  font-weight: font-weight(light);
}

::-ms-input-placeholder {
  font-size: font-size(normal);
  color: var(--color-quinary);
  font-weight: font-weight(light);
}

//*-*-*-*-*-*-*-*-*-*-- Positioning *-*-*-*-*-*-*-*-*-*-*
.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

//*-*-*-*-*-*-*-*-*-*-- Flex Center *-*-*-*-*-*-*-*-*-*-*
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//*-*-*-*-*-*-*-*-*-*-- Margin, Padding Classes! *-*-*-*-*-*-*-*-*-*-*
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @if $space == 0 {
    .m-0 {
      margin: 0 !important;
    }

    .p-0 {
      padding: 0 !important;
    }
  } @else {
    @each $side in $sides {
      .m-#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px !important;
      }

      .p-#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}


//*-*-*-*-*-*-*-*-*-*-- Misc Classes! *-*-*-*-*-*-*-*-*-*-*
.divider {
  width: 100%;
  background: var(--color-octonary);
  height: 1px;
}

//*-*-*-*-*-*-*-*-*-*-- Ovverride DatePicker Styles! *-*-*-*-*-*-*-*-*-*-*
.md-drppicker .ranges ul li button.active,
.md-drppicker td.active,
.md-drppicker td.active:hover,
.md-drppicker .btn {
  background-color: var(--color-primary)!important;
}

//*-*-*-*-*-*-*-*-*-*-- Ovverride DatePicker Styles! *-*-*-*-*-*-*-*-*-*-*
// svg-icon.svg-dropdown-style {
//   position: absolute;
//   top: 1.5rem;
//   right: 1.5rem;
// }
