$modalColor: var(--color-black);
.modal {
  z-index: $zindex-modal-backdrop;
  position: fixed;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);

  &__backdrop {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--background-color-backdrop);
  }

  &__container {
    position: absolute;
    top: 20rem;
    display: flex;
    flex-direction: column;
    min-width: 50rem;
    min-height: 20rem;
    border-radius: 4px;
    background-color: var(--color-secondary);
    transform: scale(0.7);
    // transform: translateY(-30%);
    opacity: 0;
    transition: all 0.3s;

    padding: 2rem 3rem 0 2rem;

    &--header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.8rem;

      & > p {
        font-size: font-size(normalFix);
        color: $modalColor;
        font-weight: font-weight(medium);
      }

      & > .space {
        flex: 1;
      }

      & > svg-icon {
        position: absolute;
        top: -0.5rem;
        right: -1.5rem;

        & > svg > g > g[fill] {
          fill: var(--color-modal-color);
        }
      }
    }

    &--body {
      min-height: 9rem;
      margin-top: 2rem;
      flex: 1;
    }

    &--footer {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  }

  &.open {
    transform: scale(1);
  }

  &.open > &__backdrop {
    opacity: 1;
  }

  &.open > &__container {
    z-index: $zindex-modal;
    transform: scale(1);
    // transform: translateY(0);
    opacity: 1;
  }
}
