.range-btn {
  $width: 25rem;
  display: flex;
  width: $width;
  height: 4rem;

  & button {
    height: 4rem;
    width: 3.6rem;
  }

  & app-button:first-of-type button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & div.form__input > input {
    border-radius: 0px;
    text-align: center;
  }

  & app-button:last-of-type button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }


}
