$size: 3.4rem;
.search-input {
  display: flex;
  position: relative;
  & input[type="text"] {
    width: 24rem;
    outline: none;
    padding: 1rem 5.2rem 1rem 1.6rem;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    min-height: $size;
    height: $size;
    color: var(--color-tertiary);

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-size: font-size(smallFix);
      color: var(--color-placeholder-text);
      font-weight: font-weight(regular);
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: font-size(smallFix);
      color: var(--color-placeholder-text);
      font-weight: font-weight(regular);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      font-size: font-size(smallFix);
      color: var(--color-placeholder-text);
      font-weight: font-weight(regular);
    }
  }

  &__icon {
    border-radius: 4px;
    position: absolute;
    height: 100%;
    width: 3rem;
    height: $size;
    background-color: var(--color-primary);
    right: 0;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  & > .close-search-button {
    padding:0px;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right:4rem;
    top:.9rem;
    background: none;
    border:none;
  }
  .show-button {
    display: block;
  }
  .hide-button {
    display: none;
  }
}
