<section class="pagination">
  <div class="pagination__records">
    <span>Showing</span>
    <span
      class="pagination--button pagination-no-border pagination--list"
      appDropdown
      dropdownDirection
      [isOpen]="dropdown.isOpen"
      app-pagination-list
      [records]="[10, 20, 50, 100]"
      #dropdown="dropdown"
      #dropdownDirection="dropdownDirection"
      [ngClass]="dropdownDirection.direction === 1 ? 'top' : 'bottom'"
    ></span>
    <span>record per page</span>
  </div>
  <div class="pagination--tabs">
    <span class="pagination--button m-r-5" [style.width]="'5.5rem'">First</span>
    <span class="pagination--button prev">
      <svg-icon src="assets/svg/pagination-previous-icon.svg"></svg-icon>
    </span>
    <span
      class="pagination--button pages"
      *ngFor="let page of pages; let i = index"
      [class.active]="i === 0"
      >{{ page }}
    </span>
    <span class="pagination--button next">
      <svg-icon src="assets/svg/pagination-next-icon.svg"></svg-icon>
    </span>
    <span class="pagination--button m-l-5" [style.width]="'5.5rem'">Last</span>
  </div>
</section>
