<section class="pagination">
  <div class="pagination__records">
    <span>{{ pagiantionConfig?.label }}</span>
    <span
      [pageSize]="pagiantionConfig?.pageSize"
      [records]="pagiantionConfig?.recordRanges"
      (onRecordSelect)="onRecordSelect.emit($event)"
      app-pagination-list
      class="pagination--button pagination-no-border pagination--list"
      [isOpen]="dropdown.isOpen"
      appDropdown
      #dropdown="dropdown"
      dropdownDirection
      #dropdownDirection="dropdownDirection"
      [ngClass]="dropdownDirection.direction === 1 ? 'top' : 'bottom'"
    ></span>
    <span>records per page</span>
  </div>
  <div class="pagination--tabs" *ngIf="_totalPages > 1">
    <span
      [class.disabled]="_currentPage === 1"
      class="pagination--button m-r-5"
      [style.width]="'5.5rem'"
      (click)="onFirst()"
      >First</span
    >
    <span
      [class.disabled]="_currentPage === 1"
      class="pagination--button prev"
      (click)="onPrev()"
    >
      <svg-icon src="assets/svg/pagination-previous-icon.svg"></svg-icon>
    </span>
    <span
      (click)="onPage(page)"
      class="pagination--button pages"
      *ngFor="let page of _pages; let i = index"
      [ngClass]="page === _currentPage ? 'disableEvent' : ''"
      [class.active]="page === _currentPage"
      >{{ page }}
    </span>
    <span
      [class.disabled]="_currentPage === _totalPages"
      class="pagination--button next"
      (click)="onNext()"
    >
      <svg-icon src="assets/svg/pagination-next-icon.svg"></svg-icon>
    </span>
    <span
      [class.disabled]="_currentPage === _totalPages"
      class="pagination--button m-l-5"
      [style.width]="'5.5rem'"
      (click)="onLast()"
      >Last</span
    >
  </div>
</section>
