<section class="pagination">
  <div class="pagination__records">
    <span>Records per page:</span>
    <span
      class="pagination--list"
      appDropdown
      app-pagination-list
      [records]="[10, 20, 50, 100]"
    ></span>
    <span>|</span>
    <span>1 - 10 of 40 Records</span>
  </div>
  <div class="pagination__pages">
    <span>1 of 4 pages</span>
    <div class="pagination__pages--navigation-controls">
      <i
        [shouldRemoveParent]="false"
        appSvg
        src="assets/svg/pagination-previous-icon.svg"
      ></i>
      <span
        class="pagination--list"
        appDropdown
        appClickOutside (clickOutside)="dropdown.close()"
        #dropdown="dropdown"
        app-pagination-list
        [records]="[1, 2, 3, 4]"
      ></span>
      <i
        [shouldRemoveParent]="false"
        appSvg
        src="assets/svg/pagination-next-icon.svg"
      ></i>
    </div>
  </div>
</section>
