<app-panel [showPanel]="isPanelOpen">
  <app-panel-header
    headerTitle="Send Invitation"
    clearIcon="assets/svg/panel-close-icon.svg"
    (onPanelClose)="onClose()"
  >
  </app-panel-header>

  <app-panel-body class="panel__content">
    <ng-container
      *ngIf="addEmailScreen; then addRemoveEmail; else elseTemplate"
    ></ng-container>

    <ng-template #elseTemplate>
      <ng-container
        *ngIf="!currentEmails.length; then noEmail; else emailView"
      ></ng-container>
    </ng-template>
  </app-panel-body>
  <app-panel-footer>
    <div class="panel__footer--bg"></div>
    <div class="panel__footer--actions">
      <app-button
        btnTitle="Cancel"
        classes="button-default button-lg"
        (clickHandler)="onClose()"
      ></app-button>
      <app-button
        *ngIf="addEmailScreen"
        btnTitle="Save"
        classes="button-primary button-lg button-box-shadow"
        [isDisabled]="loaderService.getLoader() | async"
        (clickHandler)="onSave()"
      ></app-button>
      <app-button
        *ngIf="currentEmails.length && !addEmailScreen"
        btnTitle="Send Email"
        classes="button-primary button-lg button-box-shadow"
        [isDisabled]="loaderService.getLoader() | async"
        (clickHandler)="onSendEmail()"
      ></app-button>
    </div>
  </app-panel-footer>
</app-panel>

<ng-template #loader>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '4rem',
      'background-color': '#3492c9',
      opacity: '0.1'
    }"
    style="width: 85%"
  ></ngx-skeleton-loader>
</ng-template>

<ng-template #noEmail>
  <div class="no-email-container" *ngIf="!(loaderService.getLoader() | async)">
    <p>No email address found</p>
    <a href="#" (click)="$event.preventDefault(); showAddRemoveEmailScreen()"
      >Please add an email address to send invite</a
    >
  </div>
</ng-template>

<ng-template #emailView>
  <div class="email-container">
    <app-button
      btnTitle="Add / Remove Email"
      classes="button-default button-pd"
      (clickHandler)="showAddRemoveEmailScreen()"
    ></app-button>

    <ul class="email--list">
      <li *ngFor="let email of currentEmails" class="email--list__item">
        {{ email.value }}
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #addRemoveEmail>
  <form class="form m-0" (ngSubmit)="onAddEmail()" [formGroup]="sendInviteForm">
    <div class="form__input pos-rel">
      <label>Email Address</label>
      <div class="add-email-container">
        <input
          (blur)="onEmailBlur()"
          type="text"
          formControlName="email"
          [class.error-field]="
            (!sendInviteForm.get('email')?.valid &&
              sendInviteForm.get('email')?.touched) ||
            emailIsAlreadAdded
          "
        />
        <svg-icon
          [class.disabled]="
            !sendInviteForm.get('email')?.valid || emailIsAlreadAdded
          "
          src="assets/svg/add-ico.svg"
          (click)="onAddEmail()"
        ></svg-icon>
      </div>
      <div
        class="pos-abs error-align-field error-msg"
        *ngIf="
          !sendInviteForm.get('email')?.valid &&
          sendInviteForm.get('email')?.touched
        "
      >
        <p>{{ uiMessage.PROVIDE_EMAIL }}</p>
      </div>

      <div
        class="pos-abs error-align-field error-msg"
        *ngIf="emailIsAlreadAdded"
      >
        <p>{{ uiMessage.EMAIL_ADDRESS_ALREADY_ADDED }}</p>
      </div>
    </div>

    <div class="form__input pos-rel m-t-20">
      <div class="email-wrapper">
        <app-tags
          [tags]="currentEmails"
          (onClear)="onTagClear($event)"
        ></app-tags>
      </div>
    </div>
  </form>
</ng-template>
