%total-customers-graph {
    & > .set-container {
        margin-right: 1.5rem;
        box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.1);
        border:#ddd 1px solid;
        border-radius:0.2rem;
    
        }
        
}