<div class="range-btn">
  <app-button
    class="button-component"
    btnTitle="-"
    classes="button-primary button-pd"
    (clickHandler)="decrement()"
  >
  </app-button>
  <div class="form__input">
    <input
      (onKeyUP)="onKeyUP($event)"
      (onValueUpdate)="onChange($event)"
      [min]="1"
      [max]="9999999"
      digitOnly
      class="fw m-0"
      type="text"
      [value]="inputValue"
    />
  </div>
  <app-button
    class="button-component"
    btnTitle="+"
    classes="button-primary button-pd"
    (clickHandler)="increment()"
  ></app-button>
</div>
