<!-- <div>
  <div class="title"><span>SSO </span> <span>Portal</span></div>

  <form class="form" [formGroup]="loginForm">
    <div class="form__input">
      <label>Email Address</label>
      <input
        class="fw"
        type="text"
        formControlName="email"
        [class.error-msg]="
          !loginForm.get('email')?.valid && loginForm.get('email')?.touched
        "
      />
    </div>
    <div class="form__input">
      <label>Password</label>
      <input
        class="fw"
        type="password"
        formControlName="password"
        [class.error-msg]="
          !loginForm.get('password')?.valid &&
          loginForm.get('password')?.touched
        "
      />
    </div>
    <app-button
      btnTitle="Login"
      [class.disabled]="
        loginForm.invalid || (loaderService.getLoader() | async)
      "
      classes="button-secondary button-lg"
      (clickHandler)="onLogin()"
      type="submit"
    ></app-button>
  </form>
</div> -->

<section class="logo">
  <i [shouldRemoveParent]="false" appSvg src="assets/svg/slashnextlogo.svg"></i>
</section>

<section class="name">
  <p>Single Sign On</p>
  <p>&nbsp;Portal</p>
</section>

<section class="auth--form">
  <div app-loader class="hide"></div>
  <section class="auth--form__login">
    <p class="auth--form__login--title">Single Sign On Portal</p>
    <p class="auth--form__login--description">Enter your details below</p>
    <form class="form" [formGroup]="loginForm">
      <div class="form__input">
        <label class="email-label">Email Address</label>
        <div class="icon-container">
          <span class="email"></span>
          <input
            class="fw"
            type="text"
            formControlName="email"
            placeholder="Enter email address"
            [class.error-msg]="
              !loginForm.get('email')?.valid && loginForm.get('email')?.touched
            "
          />
        </div>
      </div>
      <div class="form__input password">
        <label class="password-label">Password</label>
        <i class="password"></i>
        <div class="icon-container">
          <span class="password"></span>
          <input
            class="fw"
            type="password"
            placeholder="Enter your password"
            formControlName="password"
            [class.error-msg]="
              !loginForm.get('password')?.valid &&
              loginForm.get('password')?.touched
            "
          />
        </div>
      </div>
      <div class="checkbox-container">
        <div class="form__input--checkbox-container auth--form__checkbox">
          <input
            type="checkbox"
            id="remember-me"
            formControlName="isRemember"
          />
          <label for="remember-me">Remember me</label>
          <span></span>
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <div class="form__action">
        <app-button
          btnTitle="Sign in"
          width="100%"
          [isDisabled]="
            loginForm.invalid || (loaderService.getLoader() | async)
          "
          classes="button-primary button-lg"
          (clickHandler)="onLogin()"
          type="submit"
        ></app-button>
      </div>
    </form>
  </section>
</section>
