<app-section-title
  class="section-title"
  sectionTitle="Package Management"
></app-section-title>

<article class="components">
  <app-button
    class="button-component"
    icon="assets/svg/add-button-icon.svg"
    btnTitle="Add New Package"
    classes="button-primary button-pd"
    (clickHandler)="onAddNewPackage()"
  >
  </app-button>
</article>

<app-datatable class="table-component" [config]="packagesDatatable">
  <app-datatable-headers
    [headers]="packagesDatatable.headers"
    (onHeader)="handleHeaderClick($event)"
  >
  </app-datatable-headers>
  <app-datatable-rows
    [rows]="packages"
    (onRow)="handleRow($event)"
    [headers]="packagesDatatable.headers.list"
  ></app-datatable-rows>
</app-datatable>

<app-pagination class="pagination-component">Pagination Table</app-pagination>

<router-outlet></router-outlet>
