<app-section-title
  class="section-title"
  sectionTitle="Package Management"
></app-section-title>

<app-button
  class="button-component"
  icon="assets/svg/add-button-icon.svg"
  btnTitle="Add New Package"
  classes="button-primary button-pd"
  (clickHandler)="isPanelOpen = true"
  appAccessControl="new-company"
>
</app-button>

<app-datatable class="table-component" [config]="packagesDatatable">
  <app-datatable-headers
    [headers]="packagesDatatable.headers"
    (onHeader)="handleHeaderClick($event)"
  >
  </app-datatable-headers>
  <app-datatable-rows
    [rows]="packages"
    (onRow)="handleRow($event)"
    [headers]="packagesDatatable.headers.list"
  ></app-datatable-rows>
</app-datatable>

<app-pagination class="pagination-component">Pagination Table</app-pagination>

<app-panel [showPanel]="isPanelOpen">
  <app-panel-header
    headerTitle="Add a New Package"
    clearIcon="assets/svg/panel-close-icon.svg"
    (onPanelClose)="isPanelOpen = false"
  >
  </app-panel-header>

  <app-panel-body class="panel__content">
    <app-wizard [steps]="steps" [currentStep]="activeStep"></app-wizard>

    <!-- Add new Company Profile -->
    <form
      class="form"
      [ngSwitch]="activeStep?.stepIndex"
      (ngSubmit)="onAddNewPackage()"
      [formGroup]="newPackageForm"
    >
      <div app-wizard-template *ngSwitchCase="'1'" [step]="activeStep">
        <ng-container formGroupName="package_info">
          <div class="form__input">
            <label>Package</label>
            <input
              type="text"
              formControlName="package_name"
              [class.error-msg]="
                !newPackageForm.get('package_info.package_name')?.valid &&
                newPackageForm.get('package_info.package_name')?.touched
              "
            />
          </div>
          <div class="form__input form__select">
            <label>Quota Interval</label>
            <div class="dropdown-trigger">
              <i
                appSvg
                [shouldRemoveParent]="false"
                [src]="'/assets/svg/select-dropdown-field-icon.svg'"
                appDropdown=".quota-interval-dropdown > .dropdown"
              >
                <app-dropdown
                  class="quota-interval-dropdown"
                  [items]="quotaIntervalList"
                  (onSelect)="handleQuotaIntervalSelect($event)"
                ></app-dropdown>
              </i>
            </div>
            <input
              readonly
              type="text"
              class="select"
              formControlName="quota_interval"
              value="something"
            />
          </div>
          <div class="form__input">
            <label>Quota Limit</label>
            <app-range-btn formControlName="quota_limit"></app-range-btn>
          </div>
          <div class="form__input m-t-20">
            <label>Rate Limit / Min</label>
            <app-range-btn formControlName="rate_permin"></app-range-btn>
          </div>
        </ng-container>
      </div>
      <div app-wizard-template *ngSwitchCase="'2'" [step]="activeStep">
        <ng-container formGroupName="api_points" >
          <ng-container formArrayName="apiQuotaList">
            <div
              class="form-row"
              *ngFor="let aq of apisQuota; let i = index"
            >
              <label>{{ aq.key }}</label>
              <app-range-btn [formControlName]="i"></app-range-btn>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </app-panel-body>

  <app-panel-footer>
    <ng-container [ngSwitch]="activeStep?.stepIndex">
      <ng-container *ngSwitchCase="'1'">
        <app-button
          btnTitle="Next"
          classes="button-primary button-lg"
          [isDisabled]="newPackageForm.controls['package_info'].invalid"
          (clickHandler)="onNextStep()"
        ></app-button>
      </ng-container>
      <ng-container *ngSwitchCase="'2'">
        <app-button
          btnTitle="Back"
          classes="button-default button-lg"
          (clickHandler)="onPreviousStep()"
        ></app-button>
        <app-button
          btnTitle="Save"
          classes="button-primary button-lg"
          [isDisabled]="newPackageForm.controls['api_points'].invalid"
          (clickHandler)="onSave()"
        ></app-button>
      </ng-container>
    </ng-container>
  </app-panel-footer>
</app-panel>
