<app-section-title
  class="section-title"
  sectionTitle="Package Management"
></app-section-title>

<article class="components">
  <!-- <app-search
    (onSearch)="onSearchTerm($event)"
    (onEnter)="handleEnter($event)"
    (onEscape)="handleEsc($event)"
    placeHolder="Search with Package Name"
    class="search-component"
    [class.disabled]="packageService.isPackageListLoadingObservable() | async"
  ></app-search> -->
  <app-button
    class="button-component"
    icon="assets/svg/add-button-icon.svg"
    btnTitle="Add New Package"
    classes="button-primary button-pd"
    (clickHandler)="onAddNewPackage()"
  >
  </app-button>
</article>

<app-datatable
  class="table-component"
  [isLoading]="packageService.isPackageListLoadingObservable() | async"
  [config]="packagesDatatable"
>
  <app-datatable-headers
    [isLoading]="packageService.isPackageListLoadingObservable() | async"
    [headers]="packagesDatatable.headers"
    (onHeader)="handleHeaderClick($event)"
  >
  </app-datatable-headers>
  <!-- Change Row lAter to items -->
  <app-datatable-rows
    [columnsTemplate]="packagesDatatable.headers.columnsTemplate"
    [isLoading]="packageService.isPackageListLoadingObservable() | async"
    [pageSize]="
      (packageService.getPaginationConfigObservable() | async)?.pageSize
    "
    [currentPage]="
      (packageService.getPaginationConfigObservable() | async)?.currentPage
    "
    [rows]="(packageService.getPackagesObservable() | async)?.items"
    (onRow)="handleRow($event)"
    [headers]="packagesDatatable.headers.list"
  ></app-datatable-rows>
</app-datatable>
<app-pagination
  *ngIf="((packageService.getPackagesObservable() | async)?.items).length"
  [class.disabled]="packageService.isPackageListLoadingObservable() | async"
  class="pagination-component"
  [$$paginationConfigObservable]="
    packageService.getPaginationConfigObservable()
  "
  [pagiantionConfig]="packageService.getPaginationConfigObservable() | async"
  (onRecordSelect)="onPageSizeSelect($event)"
  (onFirstPageSelect)="onFirst()"
  (onLastPageSelect)="onLast()"
  (onNextPageSelect)="onNext()"
  (onPrevPageSelect)="onPrev()"
  (onPageSelect)="onPage($event)"
>
</app-pagination>

<router-outlet></router-outlet>
