<div class="similar-domain set-container">
    <header class="secondary-bg-color flex space-inbetween primary-bdr-left-color title-header-block">
        <h3>URLs Redirecting to Other Domains</h3>
        <span class="count-block quinary-font-color">10</span>
    </header>
    <div class="content">
        <div class="stats-block">
            <div class="title-content-block">
                <h5 class="senary-font-color">Benign:</h5>
                <h4 class="quaternary-font-color">9.11K</h4>
            </div>
            <div class="title-content-block">
                <h5 class="nonary-font-color">Malicious:</h5>
                <h4 class="quaternary-font-color">40</h4>
            </div>
        </div>
    </div>
</div>