<div class="total-scans set-container primary-bdr-color flex-grow-default">
    <div class="total-scan-graph">
        <header class="secondary-bg-color primary-bdr-left-color title-header-block">
            <h3>Total Customers and Scans</h3>
        </header>
        <div class="content">
            <div class="stats-block">
                <div class="title-content-block">
                    <h5 class="quinary-font-color">Total Customers:</h5>
                    <h4 class="quaternary-font-color">9.11K</h4>
                </div>
                <div class="title-content-block">
                    <h5 class="quinary-font-color">Total Scans:</h5>
                    <h4 class="quaternary-font-color">40</h4>
                </div>
            </div>
                <div class="content-block">
            </div>
        </div>
    </div>
</div>