<ngx-skeleton-loader
  *ngIf="isLoading; else list"
  [count]="pageSize ? pageSize : 10"
  appearance="line"
>
</ngx-skeleton-loader>
<ng-template #list>
  <tr
    *ngFor="let row of rows; let i = index"
    (click)="onRowClick(row, i)"
    [style.grid-template-columns]="columnsTemplate"
    [class.disable__row]="
      row['status'] === Status.Suspended || row['status'] === Status.Disabled
    "
  >
    <td
      *ngFor="let header of headers"
      [class.suspended]="
        (row[header.accessor] === Status.Suspended ||
          row[header.accessor] === Status.Disabled) &&
        header.name === 'Status'
      "
      [class.active]="
        row[header.accessor] === Status.Active && header.name === 'Status'
      "
    >
      <span *ngIf="header.name === 'Sr. #'; else regularCell">{{ i + 1 }}</span>
      <ng-template #regularCell>
        <span *ngIf="!header.cell; else customComponent">{{
          header.name !== "Status"
            ? row[header.accessor]
            : (row[header.accessor] | status)
        }}</span>
        <ng-template #customComponent>

          <ng-container
            *ngIf="header.cell ==='portalTemplate'"
            [ngTemplateOutletContext]="{ $implicit: row[header.accessor] }"
            [ngTemplateOutlet]="dtService.getTemplate(header.cell)"
          ></ng-container>
          <ng-container
          *ngIf="header.cell ==='companyStatus'"
          [ngTemplateOutletContext]="{ $implicit: row, status: row[header.accessor] }"
          [ngTemplateOutlet]="dtService.getTemplate(header.cell)"
        ></ng-container>
        </ng-template>
      </ng-template>
    </td>
  </tr>
</ng-template>
