<ngx-skeleton-loader
  *ngIf="isLoading; else userList"
  [count]="pageSize ? pageSize : 10"
  appearance="line"
>
</ngx-skeleton-loader>
<ng-template #userList>
  <tr
    *ngFor="let row of rows; let i = index"
    (click)="onRowClick(row, i)"
    [style.grid-template-columns]="columnsTemplate"
    [class.disabled]="
      row['status'] === Status.Suspended || row['status'] === Status.Disabled
    "
  >
    <td
      *ngFor="let header of headers"
      [class.suspended]="
        row[header.accessor] === Status.Suspended ||
        row[header.accessor] === Status.Disabled
      "
      [class.active]="row[header.accessor] === Status.Active"
    >
      <span *ngIf="header.name === 'Sr. #'; else regularCell">{{ i + 1 }}</span>
      <ng-template #regularCell>
        <span *ngIf="!header.cell; else customComponent">{{
          header.name !== "Status"
            ? row[header.accessor]
            : (row[header.accessor] | status)
        }}</span>
        <ng-template #customComponent>
          <ng-container
            [ngTemplateOutletContext]="{ $implicit: row[header.accessor] }"
            [ngTemplateOutlet]="dtService.getTemplate(header.cell)"
          ></ng-container>
        </ng-template>
      </ng-template>
    </td>
  </tr>
</ng-template>
