%user-management-layout {
  .permission {
    font-weight: font-weight(medium) !important;
  }

  .success-screen {
    font-size: font-size(smallFix);
    color: var(--col-quinary);
    font-weight: font-weight(regular);
  }

  .portal {
    display: flex;
    column-gap: 1rem;
    &--icon {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-secondary);
    }
  }
}

.user-management {
  grid-column: container-start / container-end;
  display: flex;

  app-users {
    flex: 1;
    display: grid;
    gap: 1.6rem;
    grid-template-columns:
      [container-start] minmax(2.4rem, 1fr) [section-start] repeat(
        6,
        [col-start] minmax(min-content, 30rem) [col-end]
      )
      [section-end] minmax(2.4rem, 1fr) [container-end];

    grid-template-rows: repeat(5, min-content);

    @extend %base-layout;
    @extend %user-management-layout;
  }

  app-user-detail {
    flex: 1;
    display: grid;
    gap: 1.6rem;
    grid-template-columns:
      [container-start] minmax(2.4rem, 1fr) [section-start] repeat(
        6,
        [col-start] minmax(min-content, 30rem) [col-end]
      )
      [section-end] minmax(2.4rem, 1fr) [container-end];

    grid-template-rows: repeat(4, min-content);

    @extend %layout-of-detail-page;
    @extend %user-management-detail;
  }
}
