%user-management-detail {
  .permission-tile {
    display: inline-block;
    position: relative;

    & > label {
      position: absolute;
      width: 15rem;
    }

    & > .dropdown-trigger {
      flex-basis: 10rem;
      left: 12.8rem;
      top: 1rem;
    }
  }
}

.user-modal-body {
  font-size: font-size(smallFix);
  color: var(--color-quinary);
  font-weight: font-weight(regular);
}
