<div app-loader [isLoading]="loaderService.getLoader() | async"></div>

<ng-container *ngIf="hasError; then error; else content"> </ng-container>
<ng-template #content>
  <ng-container *ngIf="!isEmailSent; else emailSent">
    <section
      class="auth--form__section forgot"
      [class.loading]="loaderService.getLoader() | async"
    >
      <a routerLink="../login" class="auth--form__section--navigation">
        <svg-icon src="assets/svg/breadcrumb-back-icon.svg"></svg-icon>
        Sign in
      </a>
      <app-auth-section
        caption="Forgot Password"
        description="Enter your details below"
      ></app-auth-section>
      <form
        id="forgotForm"
        class="form"
        [formGroup]="forgotForm"
        (ngSubmit)="onReset()"
      >
        <div class="form__input m-t-10">
          <label class="email-label"
            >Please enter your email address to reset password</label
          >
          <div
            class="icon-container pos-rel"
            [class.error]="
              !forgotForm.get('email')?.valid &&
              forgotForm.get('email')?.touched
            "
          >
            <svg-icon src="assets/svg/Email.svg"></svg-icon>
            <input
              class="fw"
              type="text"
              formControlName="email"
              placeholder="Enter email address"
            />
            <div
              class="pos-abs error-msg-auth error-msg"
              *ngIf="
                !forgotForm.get('email')?.valid &&
                forgotForm.get('email')?.touched
              "
            >
              <p>{{ UIMSG.PROVIDE_EMAIL }}</p>
            </div>
          </div>
        </div>
      </form>
      <div class="form__action">
        <app-button
          btnTitle="Send Email"
          width="100%"
          [isDisabled]="
            forgotForm.invalid || (loaderService.getLoader() | async)
          "
          classes="button-primary button-lg"
          type="submit"
          formName="forgotForm"
        ></app-button>
      </div>
    </section>
  </ng-container>
</ng-template>

<ng-template #emailSent>
  <app-auth-action
    icon="assets/svg/EmailSent.svg"
    caption="Email Sent Successfully!!"
  >
  </app-auth-action>
</ng-template>

<ng-template #error>
  <app-auth-action
    (onAction)="hasError = false"
    icon="assets/svg/EmailSent.svg"
    caption="SlashNext Portal"
  >
    <p class="error">
        You are not authorized to use this portal. Please contact <a href="mailto:support@slashnext.com">support@slashnext.com</a> to enable your access.
    </p>
  </app-auth-action>
</ng-template>
