<ng-template #portalCircle let-permissions>
  <app-portal [permissions]="permissions"></app-portal>
</ng-template>

<app-section-title
  class="section-title"
  sectionTitle="User Management"
></app-section-title>
<article class="components">
  <app-search
    (onSearch)="onSearchTerm($event)"
    (onEnter)="handleEnter($event)"
    (onEscape)="handleEsc($event)"
    placeHolder="Search with Full Name or Email"
    [value]="umService.getUserPayload().search"
    class="search-component"
    [class.disabled]="umService.isUserListLoadingObservable() | async"
  ></app-search>
  <app-button
    class="button-component"
    icon="assets/svg/add-button-icon.svg"
    btnTitle="Invite a User"
    classes="button-primary button-pd"
    (clickHandler)="onInviteUser()"
    [isDisabled]="!isModuleListLoaded"
  >
  </app-button>
</article>
<app-datatable
  class="table-component"
  [isLoading]="umService.isUserListLoadingObservable() | async"
  [config]="usersDatatable"
>
  <app-datatable-headers
    [isLoading]="umService.isUserListLoadingObservable() | async"
    [headers]="usersDatatable.headers"
    (onHeader)="handleHeaderClick($event)"
  >
  </app-datatable-headers>
  <app-datatable-rows
    [columnsTemplate]="usersDatatable.headers.columnsTemplate"
    [isLoading]="umService.isUserListLoadingObservable() | async"
    [pageSize]="(umService.getPaginationConfigObservable() | async)?.pageSize"
    [currentPage]="
      (umService.getPaginationConfigObservable() | async)?.currentPage
    "
    [rows]="(umService.getUsersObservable() | async)?.items"
    (onRow)="handleRow($event)"
    [headers]="usersDatatable.headers.list"
  ></app-datatable-rows>
</app-datatable>
<app-pagination
  *ngIf="((umService.getUsersObservable() | async)?.items).length"
  [class.hide]="umService.isUserListLoadingObservable() | async"
  class="pagination-component"
  [$$paginationConfigObservable]="umService.getPaginationConfigObservable()"
  [pagiantionConfig]="umService.getPaginationConfigObservable() | async"
  (onRecordSelect)="onPageSizeSelect($event)"
  (onFirstPageSelect)="onFirst()"
  (onLastPageSelect)="onLast()"
  (onNextPageSelect)="onNext()"
  (onPrevPageSelect)="onPrev()"
  (onPageSelect)="onPage($event)"
  >Pagination Table
</app-pagination>

<router-outlet></router-outlet>
