$modalColor: var(--color-tertiary);

app-download-report {
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 2rem;
    & > a {
      color: $modalColor !important;
      font-size: font-size(regularFix) !important;
      text-decoration: underline !important;
    }
    & > i {
      cursor: default !important;
    }
  }
}
.modal__container--header > p {
  color:var(--color-primary)!important;
  font-size: font-size(normalFix)!important;
}


app-scan-date {
  & > .scan-date {
    display: flex;
    align-items: center;
    & > p {
      font-size: font-size(regularFix);
      color: var(--color-quinary);
      font-weight: font-weight(regular);

      & > .separator {
        background-color: transparent;
      }
    }

    & button {
      color: $modalColor;
      padding: 0 0.5rem;
      border: 1px solid $modalColor;
    }
  }
}

app-url-scanned,
app-api-per-limit {
  & > .url-scanned,
  & > .max-per-limit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & div {
      display: flex;
      flex-direction: column;
      flex: 1 0 20rem;
      position: relative;
      height: 7rem;

      & p {
        font-size: font-size(normal);
        color: $modalColor;
        font-weight: font-weight(medium);
      }

      & span {
        font-size: font-size(medium);
        color: var(--color-quinary);
        font-weight: font-weight(medium);
      }
    }

    & div::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 5rem;
      background-color: var(--color-octonary);
      top: 0.7rem;
      left: -1.3rem;
    }

    & div:first-child::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 5rem;
      background-color: transparent;
      top: 0.7rem;
      left: -1.3rem;
    }
  }
}

app-api-per-limit {
  & > .max-per-limit {
    gap: 1.6rem;
    & div {
      padding: 1.6rem 0 1.1rem 1.6rem;
      background: var(--color-duodenary-light);
      border-radius: 5px 5px 0 0;
      display: flex;
      justify-content: center;

      & span {
        font-size: font-size(regularFix);
        color: var(--color-quinary);
        font-weight: font-weight(regular);
      }
    }

    & div::before {
      background-color: transparent;
    }
  }
}

app-api-usage {
  & > .api-usage {
    width: 90rem;
    padding: 2rem 3rem 3rem 2rem;
    margin-left: -2rem;
    background: var(--color-tertiary-light);
    border-top: 2px solid $modalColor;

    & > p {
      margin-bottom: 1rem;
      font-size: font-size(normal);
      color: $modalColor;
      font-weight: font-weight(medium);
    }

    & > .api-usage--list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10rem;
      row-gap: 1.6rem;
      overflow: hidden;
      max-height: 170px;
      overflow-y: auto;
      & div {
        flex-basis: 20rem;
        display: flex;
        justify-content: space-between;
        & > p {
          font-size: font-size(regularFix);
          color: $modalColor;
          font-weight: font-weight(medium);
        }

        & > span {
          font-size: font-size(regularFix);
          color: var(--color-quinary);
          font-weight: font-weight(medium);
        }
      }
    }

    & > div:last-child {
      display: flex;
      flex-direction: column;

      & > p {
        font-size: font-size(normal);
        color: $modalColor;
        font-weight: font-weight(medium);
      }

      & > span {
        font-size: font-size(regularFix);
        color: var(--color-quinary);
        font-weight: font-weight(regular);
      }
    }
  }
}

.separator {
  width: 1.5px;
  height: 10px;
  background-color: var(--color-tertiary);
}
