%oti-provisioning-customer-detail {
  & > .quota--container {
    grid-column: section-start / section-end;
    margin-top: 1rem;

    & .quota {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 3rem;

      &--info {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: font-size(regularFix);
          color: var(--color-primary);
          font-weight: font-weight(medium);
          margin-bottom: 0.5rem;
        }

        &__name {
          font-size: font-size(largeFix);
          color: var(--color-quinary);
          font-weight: font-weight(bold);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }        
      }

      &--info:not(:first-child):not(:last-child) {
        flex: 3;
        border-right: 1px solid rgb(151, 151, 151, 0.29);
        height: 6.9rem;
      }

      &--info:first-child {
        flex: 3;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &--info:last-child {
        flex-grow: 1;
      }
    }
  }
  & article a {
    font-size: font-size(smallFix);
    white-space: nowrap;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  & article{
    position: absolute;
    left: 26rem;
    top: 16rem;
    & span {
      white-space: nowrap;
      margin-right: .5rem;
    }
  }
}
