<app-panel [showPanel]="isPanelOpen">
  <app-panel-header
    headerTitle="Change Password"
    clearIcon="assets/svg/panel-close-icon.svg"
    (onPanelClose)="onClose()"
  >
  </app-panel-header>

  <app-panel-body class="panel__content">
    <ng-container
      *ngIf="!shouldRenderSuccessScreeen; else passwordUpdatedSuccessfully"
    >
      <form
        id="changePasswordForm"
        class="form m-0"
        (ngSubmit)="onPasswordUpdate()"
        [formGroup]="changePasswordForm"
      >
        <div class="form__input icon-container pos-rel error">
          <label>Current Password</label>
          <input
            type="password"
            formControlName="current"
            [class.error-field]="
              !changePasswordForm.get('current')?.valid &&
              changePasswordForm.get('current')?.touched
            "
          />
          <div
            class="pos-abs error-align-field error-msg"
            *ngIf="
              !changePasswordForm.get('current')?.valid &&
              changePasswordForm.get('current')?.touched
            "
          >
            <p>{{ UIMSG.PROVIDE_PASSWORD }}</p>
          </div>
        </div>
        <div class="form__input icon-container pos-rel error">
          <label>New Password</label>
          <input
            type="password"
            formControlName="password"
            [class.error-field]="
              !changePasswordForm.get('password')?.valid &&
              changePasswordForm.get('password')?.touched
            "
          />
          <div
            class="pos-abs error-align-field error-msg"
            *ngIf="
              !changePasswordForm.get('password')?.valid &&
              changePasswordForm.get('password')?.touched
            "
          >
            <p
              *ngIf="
                passwordControl.errors && passwordControl.errors['minlength'];
                else pattern
              "
            >
              {{ UIMSG.CHANGE_PASSWORD_MIN_LENGTH }}
            </p>
            <ng-template #pattern>
              <p
                *ngIf="
                  passwordControl.errors && passwordControl.errors['pattern'];
                  else default
                "
              >
                {{ UIMSG.INVALID_PASSWORD }}
              </p>
              <ng-template #default>
                <p>{{ UIMSG.PROVIDE_PASSWORD }}</p>
              </ng-template>
            </ng-template>
          </div>
        </div>
        <div class="form__input icon-container pos-rel error">
          <label>Confirm Password</label>
          <input
            type="password"
            formControlName="cPassword"
            [class.error-field]="
              (!changePasswordForm.get('cPassword')?.valid &&
                changePasswordForm.get('cPassword')?.touched) ||
              (changePasswordForm.get('cPassword')?.value &&
                changePasswordForm.get('password')?.value !==
                  changePasswordForm.get('cPassword')?.value)
            "
          />
          <!-- <div
            class="pos-abs error-align-field error-msg"
            *ngIf="
              !changePasswordForm.get('cPassword')?.valid &&
              changePasswordForm.get('cPassword')?.touched
            "
          >
            <p>{{ UIMSG.PROVIDE_PASSWORD }}</p>
          </div> -->
          <div
            class="pos-abs error-align-field error-msg"
            *ngIf="
              changePasswordForm.get('cPassword')?.value &&
              changePasswordForm.get('password')?.value !==
                changePasswordForm.get('cPassword')?.value
            "
          >
            <p>
              {{ UIMSG.PASSWORD_NOT_MATCH }}
            </p>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-template #passwordUpdatedSuccessfully>
      <p class="success-screen">Your password has been successfully changed.</p>
    </ng-template>
  </app-panel-body>
  <app-panel-footer>
    <div class="panel__footer--bg"></div>
    <div class="panel__footer--actions">
      <app-button
        [btnTitle]="shouldRenderSuccessScreeen ? 'Close' : 'Cancel'"
        [classes]="
          !shouldRenderSuccessScreeen
            ? 'button-default button-lg'
            : 'button-lg button-primary  button-box-shadow'
        "
        (clickHandler)="onClose()"
      ></app-button>
      <app-button
        *ngIf="!shouldRenderSuccessScreeen"
        type="submit"
        formName="changePasswordForm"
        btnTitle="Save"
        classes="button-primary button-lg button-box-shadow"
        [isDisabled]="
          changePasswordForm.invalid ||
          (loaderService.getLoader() | async) ||
          changePasswordForm.get('password')?.value !==
            changePasswordForm.get('cPassword')?.value
        "
      ></app-button>
    </div>
  </app-panel-footer>
</app-panel>
