.oti-provisioning {
  grid-column: container-start / container-end;
  display: flex;

  app-oti-provisioning-customers,
  app-oti-provisioning-packages {
    flex: 1;
    display: grid;
    gap: 1.6rem;
    grid-template-columns:
      [container-start] minmax(2.4rem, 1fr) [section-start] repeat(
        6,
        [col-start] minmax(min-content, 30rem) [col-end]
      )
      [section-end] minmax(2.4rem, 1fr) [container-end];

    grid-template-rows: repeat(4, min-content);

    @extend %oti-provisioning-layout;
  }

  app-oti-provisioning-customer-detail,
  app-oti-provisioning-package-detail {
    flex: 1;
    display: grid;
    gap: 1.6rem;
    grid-template-columns:
      [container-start] minmax(2.4rem, 1fr) [section-start] repeat(
        6,
        [col-start] minmax(min-content, 30rem) [col-end]
      )
      [section-end] minmax(2.4rem, 1fr) [container-end];

    grid-template-rows: repeat(4, min-content);

   @extend %oti-provisioning-layout-of-detail-page;

  }

  app-oti-provisioning-customer-detail {
   @extend %oti-provisioning-customer-detail;
  }

  app-oti-provisioning-package-detail {
    @extend %oti-provisioning-package-detail;
   }

}
