%user-management-layout {
  & > .section-title {
    grid-column: section-start / col-end 1;
    margin-top: 2rem;
    @extend %sec-title;
  }

  & > .components {
    grid-column: col-end 4 / section-end;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    & > .search-component {
      display: flex;
    }

  }

  & > ngx-skeleton-loader {
    grid-column: section-start / section-end;
  }

  & > .table-component {
    grid-column: section-start / section-end;
    @extend %datatable;
  }

  & > .pagination-component {
    grid-column: section-start / section-end;
    @extend %pagination;
  }
}

.permission {
  font-weight: font-weight(medium) !important;
}

.portal {
  display: flex;
  column-gap: 1rem;
  &--icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);

  }
}
