.user-management {
  grid-column: container-start / container-end;
  display: flex;

  app-users {
    flex: 1;
    display: grid;
    gap: 1.6rem;
    grid-template-columns:
      [container-start] minmax(2.4rem, 1fr) [section-start] repeat(
        6,
        [col-start] minmax(min-content, 30rem) [col-end]
      )
      [section-end] minmax(2.4rem, 1fr) [container-end];

    grid-template-rows: repeat(4, min-content);

    @extend %user-management-layout;
  }

}
