<ul class="dashboard__list">
  <li
    class="dashboard__list--item"
    *ngFor="let dItem of dashboardItems"
    [ngStyle]="setLinearBackground(dItem.gradient)"
    [style.--border-box-project]="dItem.boxBorder"
    [class.active]="
      (headerService.getCurrentModule() | async)?.title === dItem.title &&
      (headerService.getCurrentModule() | async)?.desc === dItem.desc
    "
    (click)="onDashboardSelect(dItem)"
  >
    <app-dashboard-item [item]="dItem"></app-dashboard-item>
  </li>
</ul>
