<tr [style.--customer-table-columns]="headers.list.length">
  <th *ngFor="let header of headers.list; let i = index;" (click)="onHeaderClick(header)">
    <i
      *ngIf="headers.sortBy === header.accessor && headers.order === 'asc' "
      [shouldRemoveParent]="false"
      appSvg
      [src]="ascIcon"
    >
    </i>
    <i
      *ngIf="headers.sortBy === header.accessor && headers.order === 'desc' "
      [shouldRemoveParent]="false"
      appSvg
      [src]="descIcon"
    >
    </i>
    {{ header.name }}
  </th>
</tr>
