<tr [style.--customer-table-columns]="headers.list.length">
  <th [ngClass]="header.renderIcon ? 'pointer': 'noPointer'" *ngFor="let header of headers.list; let i = index;" (click)="onHeaderClick(header)">
    <i
      *ngIf="header.isSortable"
      [shouldRemoveParent]="false"
      appSvg
      [src]="defaultIcon"
    >
    </i>
    <i
      *ngIf="headers.sortBy === header.accessor && headers.order === 'asc' "
      [shouldRemoveParent]="false"
      appSvg
      [src]="ascIcon"
      [style.transform]="'scale(1,-1)'"
    >
    </i>
    <i
      *ngIf="headers.sortBy === header.accessor && headers.order === 'desc' "
      [shouldRemoveParent]="false"
      appSvg
      [src]="ascIcon"
    >
    </i>
    <span>{{ header.name }}</span>
  </th>
</tr>
