<app-panel [showPanel]="isPanelOpen">
  <app-panel-header
    headerTitle="Edit API Quota"
    clearIcon="assets/svg/panel-close-icon.svg"
    (onPanelClose)="onClose()"
  >
  </app-panel-header>

  <app-panel-body class="panel__content">
    <form
      class="form m-0"
      (ngSubmit)="onAddNewCompany()"
      [formGroup]="newCompanyForm"
    >
      <ng-container formGroupName="subscription">
        <app-api-tier
          [loading]="isTiersLoading"
          [subType]="newCompanyForm.get('subscription.type')?.value"
          formControlName="tier"
          [tiers]="tiers"
        ></app-api-tier>
        <app-package-controls
          direction="up"
          *ngIf="newCompanyForm.get('subscription.tier')?.value === CUSTOM_KEY"
          formGroupName="package_info"
          [lastSlections]="lastSelection$ | async"
          [isLoading]="loaderService.getLoader() | async"
        ></app-package-controls>
        <!-- <div
          class="form__input radio"
          [class.disabled]="!shouldEnableExpiryDate"
        >
          <label>Expiration Date</label>
          <label
            *ngFor="let exp of expDates"
            class="form__input--radio-container"
          >
            <input
              type="radio"
              formControlName="exp_date_type"
              [value]="exp.key"
              [ngClass]="{
                'error-msg':
                  !newCompanyForm.get('subscription.exp_date_type')?.valid &&
                  newCompanyForm.get('subscription.exp_date_type')?.touched
              }"
            />
            <span>{{ exp.value }}</span>
          </label>
        </div>
        <div
          class="form__input form__select pos-rel error"
          *ngIf="
            newCompanyForm.get('subscription.exp_date_type')?.value ===
            CUSTOM_KEY
          "
        >
          <input
            formControlName="expiry_date"
            type="text"
            placeholder="Choose date"
            ngxDaterangepickerMd
            [locale]="expiryDateFormat"
            [singleDatePicker]="true"
            [autoApply]="true"
            drops="up"
            opens="left"
            (datesUpdated)="onExpiryDateChange($event)"
            [isInvalidDate]="isInvalidDate"
          />
          <div
            class="pos-abs error-align-field error-msg"
            *ngIf="
              !newCompanyForm.get('subscription.expiry_date')?.valid &&
              newCompanyForm.get('subscription.expiry_date')?.touched
            "
          >
            <p>Please choose expiry date.</p>
          </div>
        </div> -->
      </ng-container>
    </form>
  </app-panel-body>

  <app-panel-footer>
    <div class="panel__footer--bg"></div>
    <div class="panel__footer--actions">
      <app-button
        btnTitle="Close"
        classes="button-default button-lg"
        (clickHandler)="onClose()"
      ></app-button>
      <app-button
        btnTitle="Save"
        classes="button-primary button-lg button-box-shadow"
        [isDisabled]="
          newCompanyForm.controls['subscription'].invalid ||
          (loaderService.getLoader() | async) ||
          (rateControl?.value.label === DEFAULT_LABEL &&
            tierControl?.value === CUSTOM_KEY)
        "
        (clickHandler)="onSave()"
      ></app-button>
    </div>
  </app-panel-footer>
</app-panel>

<ng-template #loader>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '4rem',
      'background-color': '#3492c9',
      opacity: '0.1'
    }"
    style="width: 85%"
  ></ngx-skeleton-loader>
</ng-template>

<ng-template #successScreen>
  <p class="success-screen">Company Profile has been created successfully.</p>
</ng-template>

<ng-template #errorScreen>
  <div class="alert danger-alert" *ngFor="let error of errors">
    <h3>{{ error }}</h3>
    <a class="close">&times;</a>
  </div>
</ng-template>
