<div class="header__menu" *ngIf="showSelectedHeader">
  <div class="header__menu--tab">
    <ng-container *ngIf="headerTitle || headerDesc">
      <p>
        {{ headerTitle }} <span> {{ headerDesc }} </span>
      </p>
      <i
        *ngIf="headerTitle !== 'SSO'"
        [shouldRemoveParent]="false"
        appSvg
        src="assets/svg/header-dropdown-icon.svg"
        appDropdown="header__menu--tab header__menu--list"
        appClickOutside
        (clickOutside)="dropdown.close()"
        #dropdown="dropdown"
      ></i>
    </ng-container>
  </div>
  <div class="header__menu--list">
    <app-dashboard-list [list]="authService.getUserRoles()"></app-dashboard-list>
  </div>
</div>

<div class="header__user">
  <div class="header__user--info">
    <h3 class="header__user--info__title">Admin</h3>
    <h4 class="header__user--info__role">Administrator</h4>
  </div>
  <div class="header__user--settings">
    <i
      [shouldRemoveParent]="false"
      appSvg
      src="assets/svg/settings-icon.svg"
      appDropdown=".setting-dropdown > .dropdown"
      appClickOutside
      (clickOutside)="dropdown.close()"
      #dropdown="dropdown"
    ></i>
    <app-dropdown
      class="setting-dropdown"
      [items]="settingList"
      (onSelect)="onSettingItemSelect($event)"
    ></app-dropdown>
  </div>
</div>
