<div class="header__menu" *ngIf="!header?.hideHeaderMenu">
  <div class="header__menu--tab">
    <ng-container>
      <p>
        {{ header?.title }} <span> {{ header?.desc }} </span>
      </p>
      <svg-icon
        #headerDropdown="dropdown"
        (clickOutside)="headerDropdown.close()"
        appClickOutside
        [top]="false"
        appDropdown="header__menu--tab header__menu--list"
        *ngIf="!header?.hideIcon"
        src="assets/svg/header-dropdown-icon.svg"
      ></svg-icon>
    </ng-container>
  </div>
  <div class="header__menu--list">
    <app-dashboard-list
      [selected]="header"
      [list]="rolesService.getUserRolesFromStorage()"
    ></app-dashboard-list>
  </div>
</div>

<div class="header__user">
  <div class="header__user--info">
    <h3 class="header__user--info__title">
      {{ authService.getUser()?.name }}
    </h3>
    <!-- ({{ authService.getUser()?.email }}) -->
    <h4 class="header__user--info__role">{{ authService.getUser()?.email }}</h4>
  </div>
  <div class="header__user--settings">
    <div class="dropdown-trigger">
      <svg-icon
        #settingDropdown="dropdown"
        (clickOutside)="settingDropdown.close()"
        appClickOutside
        appDropdown=".setting-dropdown > .dropdown"
        src="assets/svg/settings-icon.svg"
      ></svg-icon>
      <app-dropdown
        [disableSelection]="true"
        class="setting-dropdown"
        [items]="settingList"
        (onSelect)="onSettingItemSelect($event)"
      ></app-dropdown>
    </div>
  </div>
</div>
