<app-panel [showPanel]="isPanelOpen">
  <app-panel-header
    [headerTitle]="editMode ? 'Edit Package' : 'Add New Package'"
    clearIcon="assets/svg/panel-close-icon.svg"
    (onPanelClose)="onClose()"
  >
  </app-panel-header>

  <app-panel-body class="panel__content">
    <!-- Add new Company Profile -->
    <form
      class="form m-0"
      (ngSubmit)="onAddNewPackage()"
      [formGroup]="packageForm"
    >
      <div class="form__input icon-container pos-rel error">
        <label>Package</label>
        <input
          *ngIf="!(loaderService.getLoader() | async); else loader"
          type="text"
          formControlName="packageName"
          [class.error-field]="
            !packageForm.get('packageName')?.valid &&
            packageForm.get('packageName')?.touched
          "
        />
        <div
          class="pos-abs error-align-field error-msg"
          *ngIf="
            !packageForm.get('packageName')?.valid &&
            packageForm.get('packageName')?.touched
          "
        >
          <p>{{ UIMSG.INVALID_PACKAGE_NAME }}</p>
        </div>
      </div>
      <app-package-controls
        [isLoading]="loaderService.getLoader() | async"
        direction="down"
        formGroupName="package_info"
        [lastSlections]="lastSelection$ | async"
      ></app-package-controls>
    </form>
  </app-panel-body>

  <app-panel-footer>
    <div class="panel__footer--bg"></div>
    <div class="panel__footer--actions">
      <app-button
        btnTitle="Save"
        classes="button-primary button-lg button-box-shadow"
        [isDisabled]="
          packageForm.invalid ||
          rateControl?.value.label === DEFAULT_LABEL ||
          (loaderService.getLoader() | async)
        "
        (clickHandler)="onSave()"
      ></app-button>
    </div>
  </app-panel-footer>
</app-panel>

<ng-template #loader>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '4rem',
      'background-color': '#3492c9',
      opacity: '0.1'
    }"
    style="width: 85%"
  ></ngx-skeleton-loader>
</ng-template>
