<app-panel [showPanel]="isPanelOpen">
  <app-panel-header
    headerTitle="Edit Profile"
    clearIcon="assets/svg/panel-close-icon.svg"
    (onPanelClose)="onClose()"
  >
  </app-panel-header>

  <app-panel-body class="panel__content">
    <ng-container
      *ngIf="!shouldRenderSuccessScreeen; else profileUpdatedSuccessfully"
    >
      <form
        id="editProfileForm"
        class="form m-0"
        (ngSubmit)="onProfileUpdate()"
        [formGroup]="editProfileForm"
      >
        <div class="form__input icon-container pos-rel error">
          <label>Full Name</label>
          <ng-container
            *ngIf="
              !(profileService.isUserLoadingObservable() | async) &&
                !isProfileUpdating;
              then name;
              else loading
            "
          ></ng-container>
          <ng-template #name>
            <input
              type="text"
              formControlName="full_name"
              [class.error-field]="
                !editProfileForm.get('full_name')?.valid &&
                editProfileForm.get('full_name')?.touched
              "
            />
            <div
              class="pos-abs error-align-field error-msg"
              *ngIf="
                !editProfileForm.get('full_name')?.valid &&
                editProfileForm.get('full_name')?.touched
              "
            >
              <p>{{ UIMSG.PROVIDE_FULL_NAME }}</p>
            </div>
          </ng-template>
          <ng-template #loading>
            <ng-container [ngTemplateOutlet]="loader"></ng-container>
          </ng-template>
        </div>
        <div class="form__input icon-container pos-rel error">
          <label class="disabled">Email</label>
          <ng-container
            *ngIf="
              !(profileService.isUserLoadingObservable() | async);
              then email;
              else loading
            "
          ></ng-container>
          <ng-template #email>
            <input
              class="disabled"
              type="text"
              formControlName="email"
              [class.error-field]="
                !editProfileForm.get('email')?.valid &&
                editProfileForm.get('email')?.touched
              "
            />
            <div
              class="pos-abs error-align-field error-msg"
              *ngIf="
                !editProfileForm.get('email')?.valid &&
                editProfileForm.get('email')?.touched
              "
            >
              <p>{{ UIMSG.PROVIDE_EMAIL }}</p>
            </div>
          </ng-template>
          <ng-template #loading>
            <ng-container [ngTemplateOutlet]="loader"></ng-container>
          </ng-template>
        </div>
        <div class="form__input">
          <label class="m-t-10 m-b-20 permission">
            <a routerLink="../change-password" class="text-decoration-default">
              Change Password</a
            >
          </label>
        </div>
      </form>
    </ng-container>
    <ng-template #profileUpdatedSuccessfully>
      <p class="success-screen">User profile has been updated successfully.</p>
    </ng-template>
  </app-panel-body>
  <app-panel-footer>
    <div class="panel__footer--bg"></div>
    <div class="panel__footer--actions">
      <app-button
        [btnTitle]="shouldRenderSuccessScreeen ? 'Close' : 'Cancel'"
        [classes]="
          !shouldRenderSuccessScreeen
            ? 'button-default button-lg'
            : 'button-lg button-primary  button-box-shadow'
        "
        (clickHandler)="onClose()"
      ></app-button>
      <app-button
        *ngIf="!shouldRenderSuccessScreeen"
        type="submit"
        formName="editProfileForm"
        btnTitle="Save"
        classes="button-primary button-lg button-box-shadow"
        [isDisabled]="
          editProfileForm.invalid || (loaderService.getLoader() | async)
        "
      ></app-button>
    </div>
  </app-panel-footer>
</app-panel>

<ng-template #loader>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '4rem',
      top: '1rem',
      'background-color': '#3492c9',
      opacity: '0.1'
    }"
    style="width: 85%"
  ></ngx-skeleton-loader>
</ng-template>
