<div app-loader [isLoading]="loaderService.getLoader() | async"></div>
<ng-container *ngIf="!isPasswordReset; else success">
  <section
    class="auth--form__section forgot"
    [class.loading]="loaderService.getLoader() | async"
  >
    <app-auth-section
      [title]="sectionTitle"
      [description]="
        'Enter ' + (this.resetMode === 'reset' ? 'new' : '') + ' password below'
      "
    ></app-auth-section>
    <form
      id="resetForm"
      (ngSubmit)="onResetPassword()"
      class="form"
      [formGroup]="resetForm"
    >
      <div class="form__input password">
        <label class="password-label"
          >Type your
          {{ this.resetMode === "reset" ? "new" : "" }} password</label
        >
        <div
          class="icon-container pos-rel"
          [class.error]="
            !resetForm.get('password')?.valid &&
            resetForm.get('password')?.touched
          "
        >
          <svg-icon src="assets/svg/Password.svg"></svg-icon>
          <input
            class="fw"
            type="password"
            placeholder="Enter your password"
            formControlName="password"
            [class.error-msg]="
              !resetForm.get('password')?.valid &&
              resetForm.get('password')?.touched
            "
          />
          <div
            class="pos-abs error-msg-auth error-msg"
            *ngIf="
              !resetForm.get('password')?.valid &&
              resetForm.get('password')?.touched
            "
          >
            <p *ngIf="!resetForm.get('password')?.value">
              {{ UIMSG.PROVIDE_PASSWORD }}
            </p>
          </div>
        </div>
      </div>
      <div class="form__input password">
        <label class="password-label">Confirm password</label>
        <div
          class="icon-container pos-rel"
          [class.error]="
            !resetForm.get('cPassword')?.valid &&
            resetForm.get('cPassword')?.touched
          "
        >
          <svg-icon src="assets/svg/Password.svg"></svg-icon>
          <input
            class="fw"
            type="password"
            placeholder="Confirm your password"
            formControlName="cPassword"
          />
          <div
            class="pos-abs error-msg-auth error-msg"
            *ngIf="
              !resetForm.get('cPassword')?.valid &&
              resetForm.get('cPassword')?.touched
            "
          >
            <p *ngIf="!resetForm.get('cPassword')?.value">
              {{ UIMSG.PROVIDE_PASSWORD }}
            </p>
          </div>
          <div
            class="pos-abs error-msg-auth error-msg"
            *ngIf="
              resetForm.get('cPassword')?.value &&
              resetForm.get('password')?.value !==
                resetForm.get('cPassword')?.value
            "
          >
            <p>
              {{ UIMSG.PASSWORD_NOT_MATCH }}
            </p>
          </div>
        </div>
      </div>
    </form>
    <div class="form__action">
      <app-button
        btnTitle="Confirm Password"
        width="100%"
        [isDisabled]="
          resetForm.invalid ||
          resetForm.get('password')?.value !==
            resetForm.get('cPassword')?.value ||
          (loaderService.getLoader() | async)
        "
        classes="button-primary button-lg"
        formName="resetForm"
        type="submit"
      ></app-button>
    </div>
  </section>
</ng-container>

<ng-template #success>
  <app-auth-action
    icon="assets/svg/NewPasswordCreated.svg"
    [error]="error"
    [title]="sectionTitle"
  >
    Your password has been successfully
    {{ this.resetMode === "reset" ? "reset" : "generated" }}, <br />
    Please login with your new password.
  </app-auth-action>
</ng-template>
