%base-layout {
  & > .section-title {
    grid-column: section-start / col-end 1;
    margin-top: 2rem;
    @extend %sec-title;
  }

  & > .components {
    grid-column: col-end 4 / section-end;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    & > .search-component {
      display: flex;
    }
  }

  & > ngx-skeleton-loader {
    grid-column: section-start / section-end;
  }

  & > .table-component {
    grid-column: section-start / section-end;
    @extend %datatable;
  }

  & > .pagination-component {
    grid-column: section-start / section-end;
    @extend %pagination;
  }
}
