<!-- Breadcrumbs Container  -->
<div class="breadcrumb-container">
  <ng-container
    *ngIf="
      customerService.getCustomerDetailLoadingObservable() | async;
      then loader;
      else breadCrumb
    "
  ></ng-container>
  <ng-template #breadCrumb>
    <div class="breadcrumbs">
      <svg-icon
        routerLink="../"
        src="assets/svg/breadcrumb-back-icon.svg"
      ></svg-icon>
      <ul class="breadcrumbs--list">
        <li class="breadcrumbs--list__item inactive">
          <a href="#">Customer Management</a>
        </li>
        <li class="breadcrumbs--list__item">
          <a href="#">{{ customer?.companyName }}</a>
        </li>
      </ul>
    </div>
  </ng-template>
</div>

<!-- Divider -->
<div class="divider-container">
  <div></div>
</div>

<!-- Section Title -->
<app-section-title
  class="section-title"
  sectionTitle="OTI API QUOTA"
></app-section-title>

<article *ngIf="customer?.isExpired && !(customerService.getCustomerDetailLoadingObservable() | async)">
  <span class="suspended"
    >⚠ API Quota Limit is expired. Please renew the package</span
  >
  <a routerLink="./company/edit">Please renew the package</a>
</article>

<!-- Action Container -->
<div class="action-container">
  <app-button
    class="button-component"
    btnTitle="Scan Stats"
    classes="button-primary button-pd"
    [class.disabled]="
      customerService.getCustomerDetailLoadingObservable() | async
    "
    (clickHandler)="showScanReport()"
  >
  </app-button>
  <svg-icon
    *appAccessControl="''"
    routerLink="./company-quota/edit"
    [class.disabled]="
      customerService.getCustomerDetailLoadingObservable() | async
    "
    src="assets/svg/edit-icon.svg"
  ></svg-icon>
</div>

<!-- Quota Container -->
<div class="quota--container">
  <div class="quota">
    <div class="quota--info">
      <p class="quota--info__title">Package</p>
      <p
        *ngIf="
          !(customerService.getCustomerDetailLoadingObservable() | async);
          else loader
        "
        class="quota--info__name"
      >
        {{
          customer?.packageInformation?.packageId === "0"
            ? "Custom"
            : customer?.packageInformation?.packageName
        }}

        {{
          customer?.packageInformation?.packageId !== "0" &&
          customer?.isCustomPackage === 1
            ? " {Custom}"
            : ""
        }}
      </p>
    </div>
    <div class="quota--info">
      <p class="quota--info__title">
        {{ intervalMapping[customer?.packageInformation?.quotaType] }} Licensed
        Quota
      </p>
      <p
        *ngIf="
          !(customerService.getCustomerDetailLoadingObservable() | async);
          else loader
        "
        class="quota--info__name"
      >
        {{ customer?.packageInformation?.quotaLimit | nFormat }}
      </p>
    </div>
    <div class="quota--info">
      <p class="quota--info__title">
        {{ intervalMapping[customer?.packageInformation?.quotaType] }} Remaining
        Quota
      </p>
      <p
        *ngIf="
          !(customerService.getCustomerDetailLoadingObservable() | async);
          else loader
        "
        class="quota--info__name"
      >
        {{ customer?.remainingQuota | nFormat }}
      </p>
    </div>
    <div class="quota--info">
      <p class="quota--info__title">Expiration Date</p>
      <p
        *ngIf="
          !(customerService.getCustomerDetailLoadingObservable() | async);
          else loader
        "
        class="quota--info__name"
      >
        {{
          customer?.expiryDate === "2090-12-12" ? "Never" : customer?.expiryDate
        }}
      </p>
    </div>
  </div>
</div>

<!-- Divider -->
<div class="divider-container">
  <div></div>
</div>

<!-- Section Title -->
<app-section-title
  class="section-title m-0"
  sectionTitle="Company Profile"
></app-section-title>

<!-- Action Container -->
<div class="action-container m-0">
  <app-button
    *appAccessControl="''"
    class="button-component"
    (clickHandler)="suspend()"
    [class.disabled]="
      customerService.getCustomerDetailLoadingObservable() | async
    "
    [btnTitle]="customer?.status === 'Active' ? 'Suspend' : 'Reactivate'"
    classes="button-default button-tertiary button-pd"
  >
  </app-button>
  <svg-icon
    *appAccessControl="''"
    [class.disabled]="
      customerService.getCustomerDetailLoadingObservable() | async
    "
    src="assets/svg/edit-icon.svg"
    routerLink="./company/edit"
  ></svg-icon>
  <svg-icon
    *appAccessControl="'delete-company'"
    [class.disabled]="
      customerService.getCustomerDetailLoadingObservable() | async
    "
    src="assets/svg/delete-icon.svg"
    (click)="deleteCompany()"
  ></svg-icon>
</div>

<!-- Profile Container -->
<div class="section-container">
  <div class="section">
    <p class="section--title">Company Name</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.companyName }}
    </p>
  </div>
  <div class="section">
    <p class="section--title">Customer Name</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.customerName }}
    </p>
  </div>
  <div class="section">
    <p class="section--title">Contact No.</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.contactNo }}
    </p>
  </div>
  <div class="section">
    <p class="section--title">Created</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.createdAt }}
    </p>
  </div>
  <div class="section">
    <p class="section--title">Email</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.recipients }}
    </p>
  </div>
  <div class="section">
    <p class="section--title">Address</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.address }}
    </p>
  </div>
</div>

<!-- Divider -->
<div class="divider-container">
  <div></div>
</div>

<!-- Section Title -->
<app-section-title
  class="section-title m-0"
  sectionTitle="Subscription Information"
></app-section-title>

<!-- Action Container -->
<div class="action-container m-0" *appAccessControl="'send-invitation'">
  <app-button
    class="button-component"
    btnTitle="Send Invitation"
    classes="button-primary button-pd"
    [class.disabled]="true"
  >
  </app-button>
</div>

<div class="section-container">
  <div class="section">
    <p class="section--title">Customer ID</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.custId }}
    </p>
  </div>
  <div class="section">
    <p class="section--title">Subscription Type</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.subscriptionType }}
    </p>
  </div>
  <div class="section">
    <p class="section--title">Salesforce ID</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.salesforceId }}
    </p>
  </div>
  <div class="section">
    <p class="section--title">Status</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name"
    >
      {{ customer?.status }}
    </p>
  </div>
  <div class="section">
    <p class="section--title">Customer Key</p>
    <p
      *ngIf="
        !(customerService.getCustomerDetailLoadingObservable() | async);
        else loader
      "
      class="section--name icon"
    >
      <span>{{ customer?.key }}</span>
      <svg-icon
        [copyClipboard]="customer?.key"
        src="assets/svg/copy-link-icon.svg"
      ></svg-icon>
    </p>
  </div>
</div>

<ng-container *appAccessControl="'read-exclude-classifiers'">
  <!-- Divider -->
  <div class="divider-container">
    <div></div>
  </div>

  <!-- Section Title -->
  <app-section-title
    class="section-title m-0"
    sectionTitle="Exclude Classifier"
  ></app-section-title>

  <div class="section-container">
    <div class="section">
      <p class="section--title"></p>
      <p *ngIf="customer?.custExculClassifiers !== ''" class="section--name">
        {{ mapExcludeClassifier(customer?.custExculClassifiers) }}
      </p>
      <p *ngIf="customer?.custExculClassifiers === ''" class="section--name">
        n/a
      </p>
    </div>
  </div>

  <div class="divider-container">
    <div></div>
  </div>
</ng-container>

<router-outlet></router-outlet>

<ng-template #loader>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      width: '20rem',
      top: '1rem',
      'background-color': '#3492c9',
      opacity: '0.1'
    }"
  ></ngx-skeleton-loader>
</ng-template>

<ng-template #suspendCompanyModalTemplate>
  <app-modal [showModal]="true">
    <app-modal-header
      (onModalClose)="onModalClose()"
      [title]="
        customer?.status === 'Active' ? 'Suspend Copmany' : 'Reactivate Company'
      "
    ></app-modal-header>
    <app-modal-body>
      <p class="user-modal-body">
        Are you sure you want to
        {{ customer?.status === "Active" ? "Suspend" : "Reactivate" }}
        this company?
      </p>
    </app-modal-body>
    <app-modal-footer
      (onActionHanlder)="onSuspend()"
      (onModalClose)="onModalClose()"
      closeTitle="Cancel"
      [actionTitle]="customer?.status === 'Active' ? 'Suspend' : 'Reactivate'"
      [disableAction]="loaderService.getLoader() | async"
    ></app-modal-footer>
  </app-modal>
</ng-template>

<ng-template #deleteCompanyModalTemplate>
  <app-modal [showModal]="true">
    <app-modal-header
      (onModalClose)="onModalClose()"
      title="Delete Company"
    ></app-modal-header>
    <app-modal-body>
      <p class="user-modal-body">
        Are you sure you want to delete this company?
      </p>
    </app-modal-body>
    <app-modal-footer
      (onActionHanlder)="onDeleteCompany()"
      (onModalClose)="onModalClose()"
      closeTitle="Cancel"
      actionTitle="Delete"
      [disableAction]="loaderService.getLoader() | async"
    ></app-modal-footer>
  </app-modal>
</ng-template>

<ng-template #scanStatsModal>
  <app-modal [showModal]="true">
    <app-modal-header
      (onModalClose)="onStatModalClose()"
      [title]="customer?.companyName + ' Scan Stat'"
      classes="tertiary-color"
    >
      <app-download-report
        [class.disabled]="loaderService.getLoader() | async"
        title="Donwload Summary"
        icon="assets/svg/PDF.svg"
        (onDownloadReport)="handleReport('pdf')"
      ></app-download-report>
      <app-download-report
        title="Donwload Daily Breakdown"
        icon="assets/svg/CSV.svg"
        (onDownloadReport)="handleReport('csv')"
      ></app-download-report>
    </app-modal-header>
    <app-modal-body>
      <app-scan-date (dateSelected)="date = $event"></app-scan-date>
      <ng-container
        *ngIf="
          loaderService.getLoader() | async;
          then customLoader;
          else urlScanned
        "
      ></ng-container>
      <ng-template #urlScanned>
        <app-url-scanned></app-url-scanned>
        <app-api-per-limit></app-api-per-limit>
      </ng-template>
      <app-api-usage
        [isLoading]="loaderService.getLoader() | async"
      ></app-api-usage>
    </app-modal-body>
  </app-modal>
</ng-template>

<ng-template #customLoader>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      width: '80%',
      height: '15px',
      top: '1rem',
      'background-color': '#3492c9',
      opacity: '0.1'
    }"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      width: '90%',
      height: '15px',
      top: '1rem',
      'background-color': '#3492c9',
      opacity: '0.1'
    }"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      width: '60%',
      height: '15px',
      top: '1rem',
      'background-color': '#3492c9',
      opacity: '0.1'
    }"
  ></ngx-skeleton-loader>
</ng-template>
