<app-panel [showPanel]="isPanelOpen">
  <app-panel-header
    headerTitle="Add a New Company Profile"
    clearIcon="assets/svg/panel-close-icon.svg"
    (onPanelClose)="onClose()"
  >
  </app-panel-header>

  <app-panel-body class="panel__content">
    <app-wizard [steps]="steps" [currentStep]="activeStep"></app-wizard>

    <!-- Add new Company Profile -->
    <form
      class="form"
      [ngSwitch]="activeStep?.stepIndex"
      (ngSubmit)="onAddNewCompany()"
      [formGroup]="newCompanyForm"
    >
      <div app-wizard-template *ngSwitchCase="'1'" [step]="activeStep">
        <ng-container formGroupName="profile">
          <div class="form__input icon-container pos-rel error">
            <label>Company Name</label>
            <input
              type="text"
              formControlName="company_name"
              [class.error-field]="
                !newCompanyForm.get('profile.company_name')?.valid &&
                newCompanyForm.get('profile.company_name')?.touched
              "
            />
            <div
              class="pos-abs error-align-field error-msg"
              *ngIf="
                !newCompanyForm.get('profile.company_name')?.valid &&
                newCompanyForm.get('profile.company_name')?.touched
              "
            >
              <p>We couldn't find company name.</p>
            </div>
          </div>
          <div class="form__input pos-rel">
            <label>Customer Name</label>
            <input
              type="text"
              formControlName="customer_name"
              [class.error-field]="
                !newCompanyForm.get('profile.customer_name')?.valid &&
                newCompanyForm.get('profile.customer_name')?.touched
              "
            />
            <div
              class="pos-abs error-align-field error-msg"
              *ngIf="
                !newCompanyForm.get('profile.customer_name')?.valid &&
                newCompanyForm.get('profile.customer_name')?.touched
              "
            >
              <p>We couldn't find customer name.</p>
            </div>
          </div>
          <div class="form__input pos-rel">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              [class.error-field]="
                !newCompanyForm.get('profile.email')?.valid &&
                newCompanyForm.get('profile.email')?.touched
              "
            />
            <div
              class="pos-abs error-align-field error-msg"
              *ngIf="
                !newCompanyForm.get('profile.email')?.valid &&
                newCompanyForm.get('profile.email')?.touched
              "
            >
              <p>We couldn't find customer email address.</p>
            </div>
          </div>
          <div class="form__input">
            <label>Address (Optional)</label>
            <input type="text" formControlName="address" />
          </div>
          <div class="form__input">
            <label>Contact No. (Optional)</label>
            <input type="text" formControlName="contact_no" />
          </div>
          <div class="form__input">
            <label>Salesforce ID (Optional)</label>
            <input type="text" formControlName="salesforce_id" />
          </div>
          <!-- <button [disabled]="" (click)="test()">test</button> -->
        </ng-container>
      </div>
      <div app-wizard-template *ngSwitchCase="'2'" [step]="activeStep">
        <ng-container formGroupName="subscription">
          <div class="form__input">
            <label>Company ID</label>
            <input
              type="text"
              formControlName="company_id"
              [ngClass]="{
                input__error:
                  !newCompanyForm.get('subscription.company_id')?.valid &&
                  !newCompanyForm.get('subscription.company_id')?.touched
              }"
            />
          </div>
          <div class="form__input radio">
            <label>Subscription Type</label>
            <label
              *ngFor="let type of subscriptionTypes"
              class="form__input--radio-container"
            >
              <input
                type="radio"
                formControlName="type"
                [value]="type.key"
                [ngClass]="{
                  'error-msg':
                    !newCompanyForm.get('subscription.type')?.valid &&
                    newCompanyForm.get('subscription.type')?.touched
                }"
              />
              <span>{{ type.value }}</span>
            </label>
          </div>
          <div class="form__input custom__input icon-container pos-rel error">
            <label>Company Key</label>
            <ng-template #loading>
              <ng-container [ngTemplateOutlet]="loader"></ng-container>
            </ng-template>
            <ng-container
              *ngIf="
                !(customerService.getCustomerKeyFetchingObservable() | async);
                then customerKey;
                else loading
              "
            ></ng-container>
            <ng-template #customerKey>
              <input
                class="disabled"
                type="text"
                formControlName="company_key"
                [class.error-field]="
                  !newCompanyForm.get('subscription.company_key')?.valid &&
                  newCompanyForm.get('subscription.company_key')?.touched
                "
              />
              <div
                class="pos-abs error-align-field error-msg"
                *ngIf="
                  !newCompanyForm.get('subscription.company_key')?.valid &&
                  newCompanyForm.get('subscription.company_key')?.touched
                "
              >
                <p>Unable to match key please regenerate Api Key.</p>
              </div>
              <a href="#" (click)="reGenerateCustomerKey($event)"
                >| Regenerate Api Key
                <svg-icon src="assets/svg/regenerate-key-icon.svg"></svg-icon>
              </a>
            </ng-template>
          </div>
          <app-api-tier
            [loading]="isTiersLoading"
            [subType]="newCompanyForm.get('subscription.type')?.value"
            formControlName="tier"
            [tiers]="tiers"
          ></app-api-tier>
          <app-package-controls
            direction="up"
            *ngIf="
              newCompanyForm.get('subscription.tier')?.value === CUSTOM_KEY
            "
            formGroupName="package_info"
            [lastSlections]="lastSelection$ | async"
            [isLoading]="(loaderService.getLoader() | async)"
          ></app-package-controls>
          <div
            class="form__input radio"
            [class.disabled]="!shouldEnableExpiryDate"
          >
            <label>Expiration Date</label>
            <label
              *ngFor="let exp of expDates"
              class="form__input--radio-container"
            >
              <input
                type="radio"
                formControlName="exp_date_type"
                [value]="exp.key"
                [ngClass]="{
                  'error-msg':
                    !newCompanyForm.get('subscription.exp_date_type')?.valid &&
                    newCompanyForm.get('subscription.exp_date_type')?.touched
                }"
              />
              <span>{{ exp.value }}</span>
            </label>
          </div>
          <div
            class="form__input form__select pos-rel error"
            *ngIf="
              newCompanyForm.get('subscription.exp_date_type')?.value ===
              CUSTOM_KEY
            "
          >
            <input
              formControlName="expiry_date"
              type="text"
              placeholder="Choose date"
              ngxDaterangepickerMd
              [locale]="expiryDateFormat"
              [singleDatePicker]="true"
              [autoApply]="true"
              drops="up"
              opens="left"
              (datesUpdated)="onExpiryDateChange($event)"
              [isInvalidDate]="isInvalidDate"
            />
            <div
              class="pos-abs error-align-field error-msg"
              *ngIf="
                !newCompanyForm.get('subscription.expiry_date')?.valid &&
                newCompanyForm.get('subscription.expiry_date')?.touched
              "
            >
              <p>Please choose expiry date.</p>
            </div>
          </div>
        </ng-container>
      </div>
      <div app-wizard-template *ngSwitchCase="'3'" [step]="activeStep">
        <ng-container
          formGroupName="exclude_classifier"
        >
          <div class="form__input checkbox">
            <label class="m-b-10">Classifier List</label>
            <ng-container
              *ngIf="
                !(customerService.isClassifierListIsFetching() | async);
                else loader
              "
            >
              <label
                *ngFor="
                  let classifier of classifiersListArray.controls;
                  let i = index
                "
                class="form__input--checkbox-container"
                formArrayName="classifier_list"
              >
                <ng-container [formGroupName]="i">
                  <input
                    formControlName="modelKey"
                    type="checkbox"
                    [ngClass]="{
                      'error-msg':
                        !newCompanyForm.get(
                          'exclude_classifier.classifier_list'
                        )?.valid &&
                        newCompanyForm.get('exclude_classifier.classifier_list')
                          ?.touched
                    }"
                  />
                  <span>{{ classifier.value.key }}</span>
                </ng-container>
              </label>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </form>
  </app-panel-body>

  <app-panel-footer>
    <ng-container [ngSwitch]="activeStep?.stepIndex">
      <ng-container *ngSwitchCase="'1'">
        <div class="panel__footer--bg"></div>
        <div class="panel__footer--actions">
          <app-button
            btnTitle="Next"
            classes="button-primary button-lg button-box-shadow"
            [isDisabled]="newCompanyForm.controls['profile'].invalid"
            (clickHandler)="onNextStep()"
          ></app-button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'2'">
        <div class="panel__footer--bg"></div>
        <div class="panel__footer--actions">
          <app-button
            btnTitle="Back"
            classes="button-default button-lg"
            (clickHandler)="onPreviousStep()"
          ></app-button>
          <app-button
            btnTitle="Next"
            classes="button-primary button-lg button-box-shadow"
            [isDisabled]="
              newCompanyForm.controls['subscription'].invalid ||
              (rateControl?.value.label === DEFAULT_LABEL &&
                tierControl?.value === CUSTOM_KEY)
            "
            (clickHandler)="onNextStep()"
          ></app-button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'3'">
        <div class="panel__footer--bg"></div>
        <div class="panel__footer--actions">
          <app-button
            btnTitle="Back"
            classes="button-default button-lg"
            (clickHandler)="onPreviousStep()"
          ></app-button>
          <app-button
            btnTitle="Save"
            [isDisabled]="
              newCompanyForm.controls['exclude_classifier'].invalid ||
              (loaderService.getLoader() | async)
            "
            classes="button-primary button-lg button-box-shadow"
            (clickHandler)="onSave()"
          ></app-button>
        </div>
      </ng-container>
    </ng-container>
  </app-panel-footer>
</app-panel>

<ng-template #loader>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      height: '4rem',
      'background-color': '#3492c9',
      opacity: '0.1'
    }"
    style="width: 85%"
  ></ngx-skeleton-loader>
</ng-template>

<ng-template #successScreen>
  <p class="success-screen">Company Profile has been created successfully.</p>
</ng-template>

<ng-template #errorScreen>
  <div class="alert danger-alert" *ngFor="let error of errors">
    <h3>{{ error }}</h3>
    <a class="close">&times;</a>
  </div>
</ng-template>
