

.dashboard {
  grid-column: container-start / container-end;
  @extend %sec-padding;

  &__para {
    font-size: font-size(smallFix);
    color: var(--color-quinary);
    font-weight: font-weight(regular);
    margin-bottom: 1.5rem;
  }

  &__list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));

    &--item {
      flex-basis: 29rem;
      flex-grow: 1;
      height: 13.6rem;
      margin: 0 2.4rem 2.4rem 0;
      padding: 1.8rem 0 0 2.7rem;
      border: 1px solid var(--color-dashboard-item-border);
      box-shadow: 0 0 8px 0 var(--color-black-light);
      border-radius: 8px;
      max-width: 42.2rem;
      cursor: pointer;
      position: relative;

      &__title,
      &__desc {
        font-size: font-size(large);
        color: var(--color-secondary);
        line-height: 3.3rem;
      }

      &__title {
        font-weight: font-weight(black);
      }

      &__desc {
        font-weight: font-weight(thin);
      }

      &::before {
        content: "";
        position: absolute;
        width: calc(100% + 1.6rem);
        height: calc(100% + 1.6rem);
        background: transparent;
        top: -8px;
        left: -8px;
        border: var(--border-box-project);
        box-shadow: 0 0 8px 0  var(--color-black-light);
        border-radius: 8.32px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }

      &.active::before, &:hover::before {
        opacity: 1;
      }
    }
  }

  // @include media-custom-tablet {
  //   .dashboard__list--item {
  //     max-width:29.0rem;
  //   }
  // }
}
