:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
  background-color: var(--color-secondary);
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-primary);
  font-size: font-size(regularFix);
}

i[appSvg], svg-icon {
  display: flex;
  color: white;
  position: relative;
  font-style: normal;
  cursor: pointer;
  align-items: center;
}


%sec-padding {
  padding: 4vh 3.5vw;
}
